[2015-03-17 21:29] jpola opened #1 "clsparseControl event managemet"
//It is just a first issue. I'll start to using it to keep track of my issues.

Following the idea to simplify the clsparse interface I've created the clsparseControl struct. When it comes to event synchronization clsparse have to manage two scenarios at the beginning.
1. If no event was provided by the user, we have to spawn some temp event for a given kernel and call wait() on it.
2. If user pro

[2015-03-17 21:34] jpola opened #2 "CPP Interface for Tests"
Current test and benchmark implementation is not clean enough. I mixed C and CPP for OpenCL function calls. It will be good idea to unify them to one standard. Maybe tests should be somehow divided to parts using C style and CPP style.

[2015-04-02 11:22] #2 closed, assigned to nobody

[2015-04-02 18:38] #1 closed, assigned to nobody

[2015-04-22 20:51] jpola opened #13 "validateMemObject"
Create a nice function which take *Private class and validate the  underneath buffer which might be void* for CL20, and cl_mem for lower versions

[2015-04-22 20:54] jpola opened #14 "validateMemSize"
Create functions for validating *Private classes buffers concerning size of allocated space.

[2015-04-22 20:55] jpola opened #15 "Tests for OpenCL 2.0"
Create set of tests for clsparse algorithms using OpenCL 2.0 interface.

[2015-04-23 05:13] jpola opened #16 "clsparseDenseMatrix params"
Need to enhance clsparseDenseMatrix with both an enum to describe row/column major layout of matrix data, and a parameter LDA to describe stride between rows/columns

[2015-04-26 21:24] kknox opened #17 "64-bit capable containers"
Currently, all of our C-based structs store their dimension sizes as cl_int.  This limits the sizes of the sparse matrices our library supports to 2-billion (this was chosen without much thought at the time). Should we possibly redefine the structs to include all sizes as cl_ulong, or possible size_t? Size_t may be problematic, in that OpenCL does not allow size_t types as kernel arguments
From sp

[2015-04-26 21:33] kknox opened #18 "c-based structures to mirror data on host"
Right now, our c-based structures assume that all data contained therein are located on the opencl device.  However, there are instances when it is convenient to be able to access the data on host; for instance the alpha and beta scalars to decide if we should run a more optimal kernel for special cases.

If we incorporate a 'shadow' copy of device data, when is it updated?  Do we update it or the

[2015-04-26 23:38] kknox opened #19 "Exceptions in cl.hpp"
Currently, we enable exceptions in the cl.hpp file.  For a C based interface, exceptions must not propogate outside of the C interface, because C99 does not define exceptions.  Either we need to guarantee that we catch all exceptions before they leave our C-based API, or we disable exceptions in cl.hpp.
Preprocessor symbol:  __CL_ENABLE_EXCEPTIONS

[2015-04-29 21:31] kknox opened #21 "Update clsparse benchmark app to unify all benchmarks"
Currently, for every routine we check into clSPARSE, we have a framework where we need to create a new exe to benchmark the function.  Most of the code to measure performance is common to all the benchmarks, and should be highly leveragable.  Adding a new function should be as easy as updating a few lines to select a new function and call it.  Performance metrics should be customizable between fun

[2015-04-29 21:34] kknox opened #22 "Develop cusparse benchmark app to compare performance"
We should be able to compare the performance of an operation in our clspare library against an equivalent implementation.  cusparse could serve as the spiritual equivalent implementation.  This should provide us a metric to know the performance quality of our work.

[2015-04-29 21:40] kknox opened #23 "Using Boost in clSPARSE"
Currently, we use the boost library in our benchmark and our testing applications.  I've seen a few places now in our library where boost would be nice to have: for instance the filesystem library.  The filesystem library in the compilers implementation are not standard yet, some use filesystem v2 and others use filesystem v3.  Using boost would remove the compiler dependency on the implementation

[2015-04-30 21:40] kknox opened #24 "Distinguish between dense and sparse vectors"
clSPARSE should provide a struct that represents a sparse vector.  This is required for sparse level 1 routines.

[2015-04-30 22:59] kknox opened #25 "Optimize csr2dense function"
Fuse the clEnqueueFillBuffer() kernel function with the custom nnz fill kernel.  Launching 1 kernel to make a single pass over the destination buffer should be faster than 2 separate passes.

[2015-05-04 09:45] jpola opened #26 "csrspmv vector - alpha & beta parameters"
alpha and beta parameters are constant across all threads, so kernels should be able to branch on special values with little to no performance penalty.

[2015-05-04 15:00] jpola opened #27 "clsparseCsrMetaSize"
@kknox,
I can't execute succesfully the test_readMMcoo.cpp
I tried following matrices:
- consph.mtx,
- e40r0100.mtx,
- shipsec1.mtx

Non of these matrices gave me correct results, here is some logs:
shipsec1.mtx

[code]

consph.mtx

[code]

For several others I've tested I recieved
C++ exception with description "std::bad_alloc" thrown in the test body.
Which means that 16GB of ram is not enough t

[2015-05-08 15:37] jpola opened #29 "atomic_add_float"
Hi @kknox
Could you please explain to me how your implementation of atomic_add_float is working? I know the general idea of atomic operations related to synchronization but from my tests I see that when this operation is used for the first time, the initial  value is always ignored.

Could you please take look on following kernel:
Here the pX is the vector of size 256, pSum is clsparseScalar buffe

[2015-05-08 19:13] #29 closed, assigned to nobody

[2015-05-12 10:56] #19 closed, assigned to nobody

[2015-05-15 17:15] jpola opened #34 "clMemRAII allocate buffer"
Hi, there is funny thing I have found during some development. Take look at this constructor of clMemRAII class

[code]

This is strange to me but even if the code in dot function makes no sense it still return correct values!

[code]

My suggestion is to add following constructor:

[code]

Does my observations are correct?

[2015-05-16 06:08] #26 closed, assigned to jpola

[2015-05-20 11:15] jpola opened #35 "Solver concept"
Hi, @kknox @shuaiche
take a look on my branch

https://github.com/jpola/clSPARSE/tree/solver_concept

In this branch I wanted to present a concept of the solver architecture. We have created quite nice infrastructure to build more advanced algorithms in the
field of sparse linear algebra and since internally we are allowed to use C++ it is much easier than I expected. In this branch I've made a lo

[2015-05-24 03:44] kknox opened #38 "Benchmark to print out device information"
The benchmark apps need to print out information about the device under test.   Some machines can have multiple devices installed, and the benchmark does not inform the user which device it picked as the default device.

Related to this, the benchmark needs to provide a facility to print out a list of all detected platforms and devices.  This will enable users to be able to select the device they

[2015-05-24 03:46] kknox opened #39 "Benchmark to add command line options to select the device"
Given that a machine may have multiple devices to select from, add command line options to allow the user to specify which platform and which device they wish to instantiate.

[2015-05-24 03:52] kknox opened #40 "Benchmark to add command line option to select different algorithms per function"
Some functions in clSPARSE may have multiple algorithms and implementations.  The benchmark may wish to compare the performance of one algorithm verses another, so there must be a way for the benchmark to specify the algorithm for the function from the library.

For instance, the csr spmv function currently has support to two distinct algorithms, and the benchmark needs to implement the facilities

[2015-05-24 04:03] kknox opened #41 "Array library GPU device memory abstraction"
The library is providing interfaces for both cl1.2 and cl2.0, and these two interfaces have very different memory buffer management API's.  The library has attempted to abstract the differences between these API's with an internal class called clMemRAII, but we can do better.  clMemRAII is being upgraded over time with new functionality, but it is not growing very gracefully.  It is treating buffe

[2015-05-24 04:09] kknox opened #42 "Remove C++-ism's from the clsparse.error.hpp"
This header is using std::strings and throwing exceptions.  Throwing exceptions is not valid from inside the library, and I think users might like to use the error header file with the handy macros defined.  All the strings are const char\* anyway, so not really a need to use std::strings.

Rename the header file as clsparse-error.h, and make it usable by clients of clsparse to help them convert o

[2015-05-24 04:09] #27 closed, assigned to kknox

[2015-05-24 04:14] #22 closed, assigned to kknox

[2015-05-24 04:17] #21 closed, assigned to kknox

[2015-05-25 15:10] jpola opened #43 "mm_reader - CL_MAP_WRITE_INVALIDATE_REGION"
@kknox
It seems to me that matrix market reader is not working porperly with the inplace writing with CL_MAP_WRITE_INVALIDATE_REGION. I wrote a benchmark for CG solver and I was getting trash resluts (nans, -inf etc.) in tests the CG code was working correctly. The only difference I found was that in tests I'm using my own reading function and in the benchmarks it was your mm_reader.

For small ma

[2015-05-29 21:17] kknox opened #47 "Directory layout and file names"
I think I'd like to get feedback on the way our files are laid out in clSPARSE:

Directory Questions/Proposals:
-  I like the concept of the folder called blas1, we might need to distinguish between sparse and dense routines in the future though
-  we should create blas2 and blas3 folders to hold their respective routines, and merge the spmv folder into it.
- Should we create a /kernels sub-direct

[2015-05-29 23:33] #18 closed, assigned to nobody

[2015-05-29 23:48] #43 closed, assigned to nobody

[2015-06-01 08:59] jpola opened #48 "From clsparse<Vector><Scalar>Private to clsparse::vector<T>"
Hi,
currently I'm working on clsparse::vector class which might help us to simplify the code and hide differences between cl1.2 and cl2.0 implementations. I would like to know your opinion about the idea of substituting *Private structures with the clsparse::vector class. If we will have clsparse::vector I don't see the need for the *Private classes to exists. If we want to keep both structures, f

[2015-06-02 19:12] kknox opened #49 "Can we remove clBLAS dependency"
Just scanned through the code, and we are pulling in the clBLAS library to call clblasSscal().  I think we recently implemented our own cldenseSscale, so I wonder if our dependence on clBLAS is legacy.  Can we cut the cord?

[2015-06-04 19:15] kknox opened #53 "Create examples that use the clSPARSE library"
We need a few examples that demonstrate how to write code that uses the clSPARSE API, in addition to how to build and link with it.  I'm thinking a good set of examples should be:
-  How to load a matrix from .mtx file into a COO object, then covert it to CSR
-  How to compute a basic SpM-dV operation
-  How to compute a basic CG solve

The examples should be independent of the library, and should

[2015-06-04 19:16] kknox opened #54 "Write basic build instructions"
Create documentation that goes through the steps of building clSPARSE on multiple platforms

[2015-06-04 19:19] kknox opened #55 "Create Readme.md file"
An introductory readme file that provides a short explanation of the library and its purpose, explains it's dependencies and requirements.  It would be nice to provide as short of an example as possible to highlight it's API.

[2015-06-04 19:20] kknox opened #56 "Add license information"
Add an appropriate license file to the repository, along with credits to AMD & Vratis

[2015-06-04 19:21] kknox opened #57 "Add contributing documentation"
Explicitly state how to make contributions to clSPARSE, and under which license.

[2015-06-05 10:56] jpola opened #58 "Move constructors and operators for clsparse::array"
and then we can eliminate the shallow_copy methods

[2015-06-05 10:57] kvaragan opened #59 "ClSPARSE Build Issue"
I am able to generate SuperBuild.clSPARSE.sln Visual Studio 2013 Solution file
[used the command "cmake.exe  -G "Visual Studio 12 2013 Win64"]
I tried to build this workspace, I get errors when boost library is getting built.(Failed to build Boost.Build engine.) From bootstrap.log file, i can see the error message "LIBCMTD.lib(unlink.obj) : fatal error LNK1112: module machine type 'x64' conflicts

[2015-06-05 10:57] jpola opened #60 "Move constructors and operators for references."
It should make sense to implement move operators and constructors for references, and that may eliminate unnecessary map/unmap calls.

[2015-06-05 10:59] jpola opened #61 "Elementwise operators for clsparse::array."
Is it possible that we can overload 'operator /' for two device memories, such that it calls a device division kernel? The 'operator /' would not transfer device memory to host, nor transfer host memory to device in a round trip fashion? This also means supporting an 'operator =' that assigns a temporary device memory to device memory.

[2015-06-05 10:59] jpola opened #62 "Change buffer() to data()"
I'm realizing that in c++11 syntax, our buffer() method is in fact the same as std::vector::data(). We should probably follow the same conventions and rename our method.

[2015-06-05 11:00] jpola opened #63 "Implement clsparse::array<T, SIZE> for scalar variables"
Looking at the type of our scalar variables, I think we lose a little bit of context that the type of our Alpha & Beta are only ever meant to be size == 1. What I mean is that a scalar values type like alpha/beta looks the same as a true array. As a potential code enhancement , we should truly implement std::array<> with compile time size restrictions. The type of our scalars would then look like

[2015-06-05 14:44] jpola opened #64 "gpuTimer throws out_of_range exception for CG benchmark"
When using gpuTimer with the CG benchmark it is throwing out_of_range exception, probably due to large number of events to collect.

To test the issue enable the gpuTImer in clfunct_xCGM.hpp. Throw is catched at line 239.

[2015-06-06 04:28] #62 closed, assigned to nobody

[2015-06-06 04:28] #61 closed, assigned to nobody

[2015-06-07 18:22] jpola opened #67 "BLAS1 Function interface"
Currently the interface of blas1 operations (scale, axpy, axpby) updates the input parameter.
[code]
I think that more flexible interface will be
[code]
in this version ``` y = alpha * x ``` if we call it
[code]
we still maintain the desired functionallity.

This issue arisen in development of BCGStab solver where the result of AXPBY has to be stored in different existing buffer. Currently only th

[2015-06-08 16:43] kknox opened #69 "Refactor different precision's for clsparseCsrMatrixfromFile()"
I believe that the `clsparseCsrMatrixfromFile()` family of functions should be agnostic to the precision of the data loaded.  So we should condense
`clsparseSCsrMatrixfromFile()`
`clsparseDCsrMatrixfromFile()`
into a single function that takes an enum to select precision types.

[2015-06-08 16:56] kknox opened #70 "csr-adaptive does not honor offsets of matrix data"
The kernel written for csr-adaptive is hard wired to assume the offset for data buffers is 0.

[2015-06-08 17:10] kknox opened #71 "Version numbers"
Assign version numbers separately for /master and /develop branches.  Use similar version numbering scheme as the other clMathLibraries.

Deciphering Version numbers:
-  **Major** => Releases with same major numbers are guaranteed to be compatible; backward compatibility NOT guaranteed.  2.x might not be compatible with 1.x
-  **Minor** => Incremented release adding new features, significant perfo

[2015-06-08 20:16] #63 closed, assigned to jpola

[2015-06-09 04:37] kknox opened #73 "Unit tests refactoring to use gtest_filters and reduce test executables"
Similar to the benchmarking app, I think we are currently developing too many test executables.  There is a lot of common framework code that belongs to each executable, and they might as well be the same executable where we add more unit tests with gtest_filters.  Re: clFFT unit tests.

It might still make sense to group unit tests into 3 main executables, one to test L1 operations, another for L

[2015-06-09 04:41] kknox opened #74 "Add logic to test and bench frameworks to recurse through sparse directories"
The superbuild currently downloads sparse files from the Tim Davis online sparse collection database into a sub-directory on the local hard drive.  When the archives are uncompressed, they each expand into their own sub-directory.  It would be handy for both the test and bench applications to take a root directory as input, and then the apps re-curse into all sub-directories looking for sparse tes

[2015-06-09 04:49] kknox opened #75 "Use a well-known good reference library to compare against"
Right now, our unit tests are written to compare the opencl device result  with a hand-written vanilla C++ solution.  This was easy to bootstrap with, but as the functions we implement get more complicated, the reference solutions will get more complicated.  Eventually, there may be bugs in either implementation.

We should compare ourselves with a respected reference source, either viennacl or bo

[2015-06-09 17:41] #59 closed, assigned to nobody

[2015-06-11 08:37] #49 closed, assigned to jpola

[2015-06-11 08:39] #35 closed, assigned to nobody

[2015-06-11 08:41] #34 closed, assigned to nobody

[2015-06-15 21:15] kknox opened #78 "Cloud-based automated builds"
When clSPARSE is open to the public, integrate the services of [Travis](https://travis-ci.org/) and [Appveyor](http://www.appveyor.com/) to utilize their services for pull-requests.  That should also allow us to integrate build badges on our main readme file for the site.

[2015-06-15 22:31] jpola opened #79 "clsparseSCsrMatrixfromFile - reading symmetric matrices"
I've just found an issue. It really gave me a headache :wink:.
The first part of the bug related to `MMReadHeader` which is executed while calling `clsparseHeaderfromFile`

[code]

I think this is not true. If we take diagonal matrix the nNZ should stay the same.

The second part of the bug is related to `MMGenerateCOOFromFile`. The function is calculating the actual number of nnz:

[code]

and at

[2015-06-16 22:42] #41 closed, assigned to nobody

[2015-06-16 22:44] kknox opened #80 "Implement cl2.0 methods for the internal vector/array datatypes"
Our memory abstraction has come a long way, from #defines to a simple RAII wrapper, to a full fledged pseudo STL like container.  Along the way, we did implement a few methods for cl2.0, but they have been dropped as we iterated on the design.

Finish the implementation for cl2.0 clsparse::vector and related types.

[2015-06-22 09:21] jpola opened #84 "clsparseCsrMatrixfromFile - symmetric matrix"
There is a problem with reading symmetric matrices with clsparseCsrMatrixformFile function. There are two distinct places where issue appears.
- Calculating rowBlocks for adaptive spmv
- running adaptive spmv itself.

Group of matrices revealing this issue:
- Reuters911: rowBlocks calculations issue
- hydri1c: pattern symmetrix matrix hydr1c_Zeros_73.mtx adaptive spmv hangs Linux system on Windows

[2015-06-22 09:28] jpola opened #85 "cusparse benchamrk yelling cudaErrorIllegalAddress during cumemset"
While benchmark calls the reset_gpu_write_buffer function the exception is thrown.
Following the execution path the memory is allocated correctly, then the cusparsecsrmv function returns cusparseSucces. While resetting the result buffer the exception is thrown twice (?!)

[code]

This issue might be related to #84 because general matrices are not throwing this exception and results are correct.

[2015-06-22 17:36] jpola opened #86 "Interface for dense elementwise vector operations"
I think it might be useful and trivial to add interface for element wise vector operations like subtract, add, multiply
i.e:
[code]

All infrastrucure is present in ```elementwise_transform.hpp```. Just add the API.

[2015-06-22 22:17] #54 closed, assigned to kknox

[2015-06-22 22:18] #55 closed, assigned to kknox

[2015-06-22 22:18] #57 closed, assigned to kknox

[2015-06-22 22:18] #71 closed, assigned to kknox

[2015-06-22 22:23] #79 closed, assigned to nobody

[2015-06-22 22:24] #74 closed, assigned to jpola

[2015-06-22 22:26] jpola opened #88 "csrmv adaptive - hangs for small double precision matrices"
Tested with Cities/Cities.mtx. Cause death to Linux. Need to hard reset.

[2015-06-22 22:28] #53 closed, assigned to jpola

[2015-06-24 06:20] kvaragan opened #90 "clfunc_xSpMdV BenchMarking on W9100 crashes for some mtx files."
Just got some results SpMdv bench-mark timings on W9100, data set is Bell & Garland, only coordinate format mtx files seems to be supported, non-coordinate format it crashes in clCreateBuffer, because of 0 bytes memory allocation.

Two types of Errors Noticed:
1.)only handling coordinate format,
Matrix: ../BG/scircuit/scircuit_b.mtx [nRow: 0] [nCol: 0] [nNZ: 0]
OPENCL_V_THROWERROR< CL_INVALID_BUFF

[2015-06-24 06:29] kvaragan opened #91 "cuSparse Benchmarking on K40, & gdb behaves strange"
Tried Benchmarking cufunc_xCsr2dense on K40, on Bell_Garland data, faced some memory errors (refer: cu_K40_csr2
![cu_k40_csr2denseerror](https://cloud.githubusercontent.com/assets/12621912/8323890/fcf9262a-1a67-11e5-8ea4-6a47ee1903dc.PNG)
denseError.png).

Used gdb to figure out the bug, but gdb takes different path & exit in the beginning (refer: cu_K40_csr2dense_gdb_output.png)
![cu_k40_csr2dens

[2015-06-24 06:39] kvaragan opened #92 "clSparse build fails on K40 system or any NVidia systems"
The build fails when trying to look for OpenCL version 1.2 not found,

[2015-06-24 23:06] #47 closed, assigned to nobody

[2015-06-25 12:21] kvaragan opened #95 "change the argument name in function clsparseScsr2coo() to avoid confusion"
In csr format there is nothing called row_indices:
clsparseScsr2coo( const cl_int m, const cl_int n, const cl_int nnz,
        cl_mem **csr_row_indices**, cl_mem csr_col_indices, cl_mem csr_values,
        cl_mem coo_row_indices, cl_mem coo_col_indices, cl_mem coo_values,
        clsparseControl control );

the argument needed here is **rowOffsets** of the clsparseCsrMatrix.

[2015-06-26 15:20] kvaragan opened #97 "Build Failing on Windows 8 GTX980 system"
I am getting the following error:
...
 Looking for CL_VERSION_1_1 - found
4>  -- FindOpenCL searching for 64-bit libraries
4>  CMake Error at cmake/FindOpenCL.cmake:134 (message):
4>    Requested OpenCL version: 1.2, Found OpenCL version: 1.1
4>  Call Stack (most recent call first):
4>    library/CMakeLists.txt:10 (find_package)
4>
4>
4>  -- Configuring incomplete, errors occurred!
4>  See also "C

[2015-06-26 20:46] #42 closed, assigned to nobody

[2015-06-26 20:48] #24 closed, assigned to nobody

[2015-06-26 20:49] #16 closed, assigned to kknox

[2015-07-06 04:36] #97 closed, assigned to nobody

[2015-07-06 04:40] #95 closed, assigned to nobody

[2015-07-06 04:41] #90 closed, assigned to nobody

[2015-07-06 04:43] #91 closed, assigned to nobody

[2015-07-09 08:48] #84 closed, assigned to jpola

[2015-07-09 08:48] #88 closed, assigned to nobody

[2015-07-09 08:50] #73 closed, assigned to jpola

[2015-07-16 01:39] jlgreathouse opened #109 "BLAS2 floating point summation accuracy"
For a while now, we've been mulling over how to validate results in test-blas2. Ideally, we would be able to compare the results of a GPU-based SpM-DV calculation against a known-good CPU implementation. However, we're using floating point and [comparing floating point values is hard](https://randomascii.wordpress.com/2012/02/25/comparing-floating-point-numbers-2012-edition/).

This comes from two

[2015-08-04 15:49] ghisvail opened #115 "Source files without copyright information"
The following files were reported as missing licensing information using Debian's license checking tool:

[code]

Please add missing copyright headers / notice wherever appropriate.

[2015-08-04 16:23] kknox commented on #115
Hi @ghisvail
Thanks for the feedback.  So, our code is licensed with Apache, and part of the Apache license 'style' is to include a [NOTICE](https://github.com/clMathLibraries/clSPARSE/blob/master/NOTICE) file in the root of the repository.  That notice file contains the copyright information for both AMD and Vratis.  Is this sufficient?

[2015-08-04 16:49] ghisvail commented on #115
Hi Kent, thanks for replying so quickly.

I understand the purpose of the NOTICE and LICENSE files at the root of the project. That being said using copyright headers would avoid potential licensing ambiguity in case part of the code gets bundled / vendorized to a different project without the LICENSE and NOTICE files accompnying it.

[2015-08-04 17:00] lmiroslaw commented on #115
In such a case the simplest way to got would be to copy the content of the
NOTICE file to the header of each file in /src directory. What do you think?

Lukasz

On Tue, Aug 4, 2015 at 6:49 PM, Ghislain Antony Vaillant <
notifications@github.com> wrote:

[2015-08-04 17:18] ghisvail commented on #115
You can use a short header, similar to:

[code]

which was taken from clFFT.

[2015-08-04 18:07] ghisvail opened #117 "Missing linkage with libdl"
On building the library, the Debian packaging build system reports a missing linkage with libdl for libclSPARSE.

The following patch fixed the issue:
[code]
[code]

[2015-08-05 08:41] ghisvail opened #118 "Do not rely on the availability of a precompiled gtest for generating the test suite"
As recommended by upstream in:

https://code.google.com/p/googletest/wiki/V1_7_FAQ#Why_is_it_not_recommended_to_install_a_pre-compiled_copy_of_Goog

For this reason, Debian ships the source of gtest only, instead of precompiled binaries for it. Therefore, discovery of gtest in cmake via ```find_package(gtest)``` will fail. Please consider compiling gtest as part of the test suite generation script

[2015-08-05 22:18] kknox commented on #118
Have you seen the [googlemock ExternalProject](https://github.com/clMathLibraries/clSPARSE/blob/master/cmake/ExternalGmock.cmake) code in the superbuild?  Is that already sufficient?

[2015-08-06 08:43] ghisvail commented on #118
What do you mean?

Since `src/test/CMakeLists.txt` starts with `find_package( GTest REQUIRED )` [1], `gmock` is irrelevant to this issue unless I am missing something?

Alternatively, one elegant solution would be to replace [1] with `ExternalProject_Add` on `gtest`. Then, on the packaging side, I would only have to patch `src/tests/CMakeLists.txt` in order to replace the remote URL to upstream `g

[2015-08-06 16:32] kknox commented on #118
Installing gMock src and building it also builds gTest.  It's a strict super-set.

If you put the `ExternalProject_Add` as part of the main library source, you are explicitly fetching a dependency during the build.  The way we designed the superbuild process, the user has the option of allowing the superbuild to do that very thing (building gtest outside of the library build), or they can provide

[2015-08-06 17:25] ghisvail commented on #118
Now I see it, thanks for spending some time clarifying this for me. Are there any plans to use the superbuild approach consistently throughout `clMathLibraries` ?

[2015-08-06 19:25] kknox commented on #118
Ya, I would like to backport this whole build infrastructure to the other libraries, but I need to coordinate with the other leads.  clSPARSE is the newest library and has the most advanced cmake code.  clFFT and clBLAS were written in a time when I was thrilled just with the concept of having a single set of build files for cross platform support ;)

May I close this issue in clSPARSE?  It may ma

[2015-08-06 20:38] ghisvail commented on #118
Sure, go ahead.

[2015-08-06 21:29] #115 closed

[2015-08-06 21:42] #118 closed

[2015-08-12 12:48] ghisvail opened #120 "FTBFS due to missing cl.hpp header file with OpenCL 2.0"
Debian now ships the Khronos OpenCL 2.0 headers, which no longer includes the C++ headers.

The build fails with the following error:

[code]

A solution may be to build with a vendorized version of `cl.hpp` from OpenCL 1.2.

[2015-08-12 16:03] kknox commented on #120
I'm working on getting clspare to build on travis ci, and I'm running into the same problem on macosx.  For now, I'm wget/copying cl.hpp from the khronos website into the OpenCL installation.  You can take a peak at my [.travis.yml file](https://github.com/kknox/clSPARSE/blob/develop/.travis.yml#L104).  Still working on it; macosx works but linux is failing for other reasons.

[2015-08-14 08:46] ghisvail commented on #120
FYI, I can't download anything during the package build process (same comment as in our gtest discussion). So the solution you applied to travis won't work for Debian.

Best would be to ship a vendorized `cl.hpp` from Khronos OpenCL 1.2 as part of the project and conditionally use it during the build process.

[2015-08-14 14:00] kknox commented on #120
Maybe I could make it a conditional step in our cmake configure process?

[2015-08-14 14:19] ghisvail commented on #120
As long as it does not require us to fetch any additional resource online during the configure / build / install process, any solution is possible.

[2015-08-14 14:33] kknox commented on #120
I am thinking that we could introduce a step in the superbuild that downloads the khronos header files.  I assume that is satisfactory.  Are you able to run the build as sudo?  Is it possible to write to /usr/local or /opt?  Strictly keep the header files in the build tree?

[2015-08-14 16:44] ghisvail commented on #120
Did I mention that we cannot fetch remote resources during the package build process?

The build is performed in a chroot. Not sure why `sudo` is relevant to the discussion here.

Packages shipped as part of the Debian archive are expected to install their corresponding binaries / files under the `/usr` prefix.

Not sure what you mean here.

[2015-08-14 19:43] kknox commented on #120
It was not clear to me if you implied you can't fetch external dependencies yourself, or if the cmake script can't do it internally; how did you solve googletest dependency, or maybe you haven't?  I suppose you could always turn off building the tests `BUILD_TESTS` & benchmarks `BUILD_BENCHMARKS` and remove the dependencies of boost and googletest.

You need root privileges to write to /usr/local;

[2015-08-15 15:55] ghisvail commented on #120
Use the version that is packaged in Debian.

Sure, that's why you also need `sudo` to install packages.

I don't follow you here. Which external code / dependencies are we talking about here? The missing `cl.hpp` which is MIT licensed?

I sent an email to our OpenCL maintainers' mailing list requesting their opinion on how to handle the missing `cl.hpp`.

FYI, you are not the first project facing

[2015-08-16 18:29] ghisvail commented on #120
Just a quick update. It seems that OpenCL 2.0 now uses a new header: [`cl2.hpp`](https://www.khronos.org/registry/cl/api/2.0/cl2.hpp) for the C++ bindings.

[2015-08-17 15:40] kknox commented on #120
We'll have to play with the new header; must have been posted in the last week.  I didn't see it when I was working on travis integration.  Do you know if the debian opencl maintainers will include the new header in a package you can use?

[2015-08-17 17:13] ghisvail commented on #120
I opened a bug to the Debian BTS to get the OpenCL header package updated to the latest version, which include the new C++ bindings header.

[2015-08-18 20:50] #117 closed

[2015-08-19 18:28] #109 closed

[2015-08-20 16:27] jpola opened #127 "Issue with rowBlocksSize and ComputeRowBlocks function."
Running the blas2 tests for SMALL/Reuters911/Reuters911.mtx matrix gives an issue with the rowBlocksSize. Checking the flow of the parameter I discovered that the issue is in clsparseCsrMetaCompute function.

The clsparseCsrMetaSize sets the upper bound of the rowBlocksSize, however the clsparseCsrMetaCompute returns higher value. In that case the next mapping returns CL_INVALID_VALUE error

[code

[2015-08-20 21:50] kknox commented on #127
Thanks @jpola, we'll try to reproduce this soon.

[2015-08-21 08:38] jpola commented on #127
With this function where I keep track of the mapping status status :
[code]

We can temporarily easily prevent from getting segfault in the code:

[code]
By that all the matrices will be processed

[2015-08-21 13:31] jpola commented on #56
This can be closed, isn't it?

[2015-08-21 13:39] jpola commented on #78
Do you think that we might run some tests with Travis after the build step? I think it might be tricky since we need to download some matrices for blas2, blas3 and solver tests.

[2015-08-21 17:16] kknox commented on #78
For sure!  I would like to get CI to run at least a minimal test suite on every PR and check-in.  A few things we have to consider first.  I think our superbuild infrastructure we can leverage to download sparse matrices on the fly.  We have to make sure that we keep the test wall time reasonable.  We don't want to wait too long for tests to complete on a PR.  The tricky part is opencl; there are

[2015-08-21 17:17] #56 closed

[2015-08-21 18:14] jpola commented on #78
Ah, I totally forgot that we focused only on GPU. Before running tests
using travis we have to test our solution with CPU which I've never done.

2015-08-21 19:16 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-08-23 23:21] kknox commented on #86
This is a repeat of the comment I made in PR #126

@jpola I've reviewed this code, and agree that this functionality is easy to add and could provide value for end users. However, I think we may need to go back revisit the design of our header files. Our primary purpose (or scope) is providing an API for a sparse BLAS library, and in the course of development we have developed a significant share

[2015-08-24 14:35] jpola opened #131 "Enhance transform functions"
I saw that the source code of the transform functions are not in the very good condition. They need to be adopted accordingly to the rest of the code.

[2015-08-24 15:52] jpola commented on #86
It is not a simple yes:no question for me :smile:
I'm used to have one header file for such libraries. If I cached your idea correctly you want to have:
* clDense.h - with the blas1 functions
* clSolver.h - solvers and preconditioners
* clSPARSE.h - everything else

If so, it would be more reasonable for me to take a closer look on the clSPARSE and make more headers related to transformation betwe

[2015-08-24 20:24] kknox commented on #78
PR #130 closes this issue

[2015-08-24 20:24] #78 closed

[2015-08-25 10:00] ghisvail commented on #120
I have not heard from the OpenCL Debian maintainers yet.

Meanwhile, it seems that other projects which rely on the OpenCL C++ bindings (ArrayFire, ASL...) do use a vendorized copy of `cl.hpp` instead of using the system one. [API breakage](https://github.com/arrayfire/arrayfire/pull/960) were also reported from one version of `cl.hpp` to another.

Considering the volatility of these C++ bindings,

[2015-08-25 21:29] jpola commented on #67
Implemented in #128

[2015-08-25 21:29] #67 closed

[2015-08-28 08:01] jpola opened #134 "Csr 2 Dense performance results"
I suspect that Csr 2 dense performance results are wrong,

Example: tomography.mtx.

[code]
From the graph the GiElements/s for tomography is 0.179
Somebody I think, might took CPU results instead of GPU.

Similar result for Margal_6.mtx:
CPU: 0.0226612, GPU: 1.60151, GRAPH: 0.059.

The results I obtained are generated by R270 I would be supprised if the difference between Hawaii will be so big.

[2015-08-28 15:56] kknox commented on #120
Would you kindly send me a link to the 'rules/guidelines' for how to create packages in Debian?  I would like to better understand the restrictions place on builds, and what I can do about them as a package maintainer.
For instance, if my automated travis build produced .deb's (with cpack), would that be acceptable?  I just want to read it because I have so many questions.

[2015-08-28 16:20] ghisvail commented on #120
[The Debian New Maintainer's Guide](https://www.debian.org/doc/manuals/maint-guide/) should answer most of your questions.

Nope, they don't qualify as a [source package](https://wiki.debian.org/SourcePackage).

[2015-08-28 16:41] jlgreathouse commented on #127
Hi @jpola , I believe the patch merged above should fix this issue. Could you confirm?

Thanks.

[2015-08-28 17:49] jpola commented on #127
The code is working correctly now. I tested that with all problematic
matrices like reutets and hydr1c
28 sie 2015 18:41 "Joseph Greathouse" <notifications@github.com> napisał(a):

[2015-08-28 18:15] #127 closed

[2015-08-31 08:43] pavanky commented on #92
The driver supports 1.2, but the problem is with the header files.

@kvaragan You can download OpenCL 1.2 headers from [Khronos](https://www.khronos.org/registry/cl/api/1.2/) to fix the builds.

[2015-08-31 22:22] kknox commented on #92
@kvaragan I think you can close this issue; it's resolved right?

[2015-08-31 23:08] kknox commented on #120
Hi @ghisvail
I've browsed the resources that you linked above, but I could not find the restrictions placed on builds.  For instance, the restrictions on downloading files during build.  Could you help me find the relevant reading material; i'd really like to understand the do's/don'ts.

[2015-09-01 05:42] kvaragan commented on #92
I have to check this issue, then I will close it, till now I have not used clSparse on NV, I have been only using cuSPARSE.

[2015-09-01 18:45] kknox commented on #134
@jpola
I think I need clarification; you are talking about [our graph](https://github.com/clMathLibraries/clSPARSE/wiki/Perf) on our perf wiki?  Your results show .176, and the one on wiki is .179.  We are taking the performance from the CPU timer, which is actually the time spent in the API.  I might be misunderstanding your point.

Btw, with the PR #135 now merged, I assume that need to generate

[2015-09-01 19:02] jpola commented on #134
It might be.

Could you please explain me then shortly what is the difference between the CPU Timer and GPU timer?

[2015-09-01 19:29] jpola commented on #131
Closed by #135

[2015-09-01 19:29] #131 closed

[2015-09-01 19:30] jpola commented on #86
Closed by #126

[2015-09-01 19:30] #86 closed

[2015-09-01 19:35] kknox commented on #134
Admittedly, it's odd nomenclature; the CPU timer is using a timing mechanism based on host side.  It's synchronous in nature, so when you call start/stop, it happens immediately.  I use this timer to wrap the API under question, so in our benchmarks it returns the total time spent in the API.
The GPU timer is using OpenCL's clGetEventProfilingInfo, which uses events to query opencl to return the t

[2015-09-01 19:42] jpola commented on #134
Ok, I think I get the idea. CPU Timer measure the full time of given API
function. Does the GPU Timer measure only the kernels time included in this
API? Does the GPU Timer measure also mem cpy functions?

2015-09-01 21:35 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-01 19:50] jpola opened #137 "Test infrastructure for internal algorithms"
This issue emerged with #135. @shuaiche and me have to develop several internal algorithms. Since new algorithms will be more complex it will be very useful to develop a test infrastructure which helps to easily validate and debug internal clSPARSE algorithms. Nowadays I did that by adding temporary interface API functions in clSPARSE.h but that is very time consuming and it is limited with C lang

[2015-09-01 20:00] jpola commented on #23
@kknox, Your version of mtx readers are very good at the moment. We tested them with plenty of matrices. We support the types of matrices we want. Do we still want to include boost into the internal part of the clSPARSE?

Im very happy with the way how the boost is included in the build, test and benchmarks infrastructure. I think that we shouldn't include boost into internal code. If you agree wi

[2015-09-01 20:01] kknox commented on #134
Yes, the idea is that anything that gives you an opencl event should be query-able for execution time with clGetEventProfilingInfo(), but the ability to store the events for multiple different kernels in a given API still needs to be finished.  Right now, the GPU timer class assumes that each API has 1 GPU kernel, so anything more than that confuses it.

Eventually, for API's that have multiple ke

[2015-09-01 20:04] jpola commented on #25
Pull request #135 resolved many issues with transformations between the data types. I think that this can be closed.

[2015-09-01 20:07] kknox commented on #137
Give me a day or two to brainstorm :crystal_ball:

[2015-09-01 20:11] jpola commented on #38
We have some simple info about the device. It is very simple but it shows which device is used. On the other hand the code haven't got the functionality to pick the particular device.

I vote for closing this one and opening the right enhancement issue describing the need for such functionality.

[2015-09-01 20:13] kknox commented on #23
@jpola
I've never been able to make a final decision; it would be hard to remove boost from the library if we decided to start using it.  However, the reverse is not true; it would be easy to use boost at any time once we had a real need for it.

My big hesitation is that we did not have a BIG need for it, just a few lines in the mtx reader would benefit to verify file extensions.  I think I am go

[2015-09-01 20:13] #23 closed

[2015-09-01 20:17] jpola commented on #48
The clsparse::vector and array are already present in the code. In every iteration I see the progress where the clsparse::vector is overtaking the *Private concept.

[2015-09-01 20:17] #48 closed

[2015-09-01 21:58] jpola commented on #134
Ok, thanks for explanation.

[2015-09-01 21:58] #134 closed

[2015-09-01 22:07] jpola opened #138 "Using Boost.Compute in clSPARSE"
From my experience in GPU based sparse algorithms there is need to use many advanced parallel algorithms (I usually call them parallel primitives) like reduce by key, sort by key, gather, scatter, scatter_if and other. As you saw my pull #135 brings some of them (initially provided by @shuaiche).

What is your opinion about introducing Bolt library in clSPARSE and use more mature version of its al

[2015-09-02 14:52] kknox commented on #138
I'm considering your question/request.  Normally, I would say developers can get frustrated with too many dependencies in a shared library (issue #23 are my ramblings where I'm justifying boost to be an exception).  However, with our superbuild infrastructure the extra dependency might not be so bad to manage for our users (I'm assuming we want to stay away from git-submodules).  I only hesitate,

[2015-09-02 15:02] kknox commented on #48
Yes, and this is a good thing.  If we could eventually eliminate the *Private and the memmapRAII classes, clsparse becomes simpler to maintain.  With respect to your question in #138, bolt::device_vector would potentially replace clsparse::vector.

[2015-09-02 15:02] jpola commented on #138
Ah yes, I forgot about the Boost dependency in BOLT. I remember that we once had a big issue with the Boost.
Let's see what others will say.

[2015-09-02 15:04] kknox commented on #38
Yes, I would eventually like to be able to use our bench and test programs as a substitute for clinfo.  clinfo only comes with the APP SDK, and it would be nice to be able to query what opencl devices/properties are found no matter which SDK is used.  It's helpful to us when end-users report problems.

[2015-09-02 15:06] kknox commented on #138
Could you share the big issue you had?  Would be nice to know what the 'real-world' problems people have, rather than just my experience on my personal development box.

[2015-09-02 15:09] #25 closed

[2015-09-02 15:41] jpola commented on #138
I understand, but do you have any feedback? What is their opinion about the project? In addition I think that the clSPARSE project is not yet very attractive. The one fancy thing we have is csrmv adaptive algorithm. We must provide more usefull algorithms to get users attention.

It's not an issue, I just know what are the requirements for algorithms like sorting matrix by row, AMG coaresing or pe

[2015-09-02 16:28] kknox commented on #138
I have not received significant feedback yet. Most people say they will try it out, but they can only get to it later.  It's probably expecting to much for people to immediately evaluate it.

I only meant specifically with regard to using Boost.  What 'real world' problems does using boost bring to users?

[2015-09-02 16:54] pavanky commented on #138
If HSA Bolt is being discussed, I want to throw in [Boost Compute](https://github.com/boostorg/compute) in there. From what I am seeing Boost Compute is being more actively developed than HSA Bolt. Compute also has the benefit of being a header only library that can be pulled down during build time.

[2015-09-02 17:25] jpola commented on #138
As far as I remember Bolt library has designated us a version of Boost, which had to use.

Boost compute is an interesting alternative. In my opinion the feature that this is a header only library is very attractive. The question is:
Does it have all necessary algorithms.
What is the performance in comparison to Bolt.
I saw that this library already supports OpenCL 2.0, at least headers says that.

[2015-09-02 17:27] pavanky commented on #138
From [my experiments](http://arrayfire.com/benchmarking-parallel-vector-libraries/) they are pretty close to each other performance and feature wise.

[2015-09-02 17:30] jpola commented on #138
Here are some results from boost compute http://boostorg.github.io/compute/boost_compute/performance.html

[2015-09-02 17:41] jpola commented on #138
Looking at the Boost Compute vector class I don't see simple way to create vector object from preallocated buffer. This concept we are using very often. I know that Bolt have such capability.

[2015-09-02 17:46] pavanky commented on #138
@jpola This is what we are doing to achieve that:

https://github.com/arrayfire/arrayfire/blob/devel/src/backend/opencl/kernel/sort.hpp#L51

For reference `(*val.data)()` returns a `cl_mem`.

[2015-09-02 17:49] jpola commented on #138
Ok, thanks I get it.

2015-09-02 19:46 GMT+02:00 Pavan Yalamanchili <notifications@github.com>:

[2015-09-02 19:15] kknox commented on #138
Thanks for your feedback, Pavan.  You are right; if Bolt is up for consideration, then Boost.Compute should be too.  It's not actually a part of Boost yet (as of 1.59), so it should count as a separate dependency from boost itself (for now), which [requires boost](https://github.com/boostorg/compute/blob/master/CMakeLists.txt#L12) as a dependency (same as Bolt).

[2015-09-03 19:22] treasurebox opened #139 "Does not build on OS X"
Hi!

  Can't seem to build on OS X (Yosemite). I do a 'cmake .', then make, I get:

[code]

Any quick workaround?

[2015-09-03 19:24] treasurebox opened #140 "Complex matrices"
Hi! Any love for complex numbers? I am most interested in matrix-vector multiplication at the time.

[2015-09-03 22:14] kknox commented on #139
Hi @treasurebox
Yes, Yosemite does not appear to ship with the cl.hpp file.  I also had to tackle this problem when I was working on our Travis automation.  Take a look at how I fix this in [the .travis.yml install: section](https://github.com/clMathLibraries/clSPARSE/blob/master/.travis.yml) by using wget to download the header from khronos website.

[2015-09-03 22:17] kknox commented on #140
Unfortunately, we do not support complex arithmetic at this time; only single and double.  I'll make note of the need/request, but i can not comment on when we would be able to productize.

[2015-09-04 15:41] ghisvail commented on #120
There is no available Internet access on Debian package autobuilders. Period.

It is assumed that binary packages can be produced from source without requirement to fetch additional data from the Internet.

[2015-09-04 16:40] pavanky commented on #120
@ghisvail Could Debian potentially ship multiple versions of the OpenCL  headers ? It is not uncommon for Debian to support multiple versions of the same software.

This is important because many open source and NVIDIA's implementations do not have 2.0 support yet.

While we have the `cl.hpp` as a file in the ArrayFire repo, I'd rather not have it in there.

@kknox

Having said the above, `cl.hpp`

[2015-09-05 09:19] treasurebox commented on #139
Yes, that did the trick, thanks!

[2015-09-05 14:54] treasurebox opened #141 "Cannot run on device without double support"
I am trying to run a sample on an Intel HD4000 (entry-level GPU). It's uncapable of double precision. I don't need double precision, so it's not a problem.
But because of some initialization routines, I get error:

[code]

[2015-09-05 15:10] treasurebox commented on #141
I am not sure if this is related, or a different problem, please advise: Even if I comment out the #error line there, I get:

[code]

What invalid build option this might be, any suggestion for a quick workaround?
Thank You!

[2015-09-05 15:38] treasurebox commented on #141
I have params value in csrmv-adaptive.hpp: ```-DROWBITS=32 -DWGBITS=24 -DBLOCKSIZE=1024```, does not seem to be very invalid. Let me know how I could help diagnose this.

[2015-09-07 11:04] ghisvail commented on #120
What would be the rationales for it ? OpenCL 2.0 seems to be the future as far as the C++ API is concerned (not talking about the C-API here), and some documented backward compatibility exists with 1.x apparently. I fail to see how to pitch the extra amount of work to the package maintainers.

Assuming these C++ bindings were not so volatile, yes this would be ideal.

Which is the solution I am in

[2015-09-07 18:10] pavanky commented on #120
It is giving the false impression that Debian has the ability to support OpenCL 2.0 where it does not support it at all. It is going to cause linker issues all over the place when the header file has OpenCL 2.0 API where as none of the `libOpenCL.so` files shipped by debian have those symbols. It literally makes **no sense**  to add OpenCL 2.0 headers when none of the libraries in the Debian repos

[2015-09-08 05:29] #139 closed

[2015-09-08 05:36] kknox commented on #138
@jpola  Regarding boost.compute, I think that I would love to see an example of its use inside of clsparse.  Give us a chance to evaluate how it cleans up the code, and see if there is a performance impact.  I'm especially interested in seeing how their vector class could be used (possibly replacing our own).  Do you think that the CG solver routine would be a good use case, or is there something

[2015-09-08 05:42] kknox commented on #137
The complicated part of testing internal routines, is that we normally compile our library as a dynamic shared module, and it does not export routines unless they are decorated with CLSPARSE_EXPORT.

That leaves two options available on the table:
- We write internal test programs that MUST link to the library as a STATIC module, or the linker will complain of unresolved symbols
- We write interna

[2015-09-08 05:53] kknox commented on #141
Looks like a bug to me;  I think the library should be usable on a device without double precision.  However, I don't have a good way to test this right now, because all of my devices do support double.

I'm guessing: maybe the apple runtime has a problem with one of these build options: -cl-kernel-arg-info -cl-std=CL1.2 ?  Look in kernel_cache.cpp:46.

[2015-09-08 06:14] kknox commented on #120
@pavanky @ghisvail, thank you for the discussion.

I am warming to the idea of checking in a Khronos copy of cl.hpp, but this is something that won't happen until our next major beta push.  This is just as well, because we are thinking of making breaking API changes (non-backwards compatible) and it's probably better to to keep v0.6.x.x out of the distros for now.  clSPARSE API will be slightly vo

[2015-09-08 06:54] treasurebox commented on #139
Hi!

  Don't want to nitpick, but I think this issue still should be open, at least some clear instruction about this in the README would be nice.
  Other note is that downloading the header file in /System/Library/... is not very nice, and in all likeliness it won't work on next OS X version (10.11 'El Capitan') because of security feature 'rootless' which prevents writing to system directories,

[2015-09-08 07:32] jpola commented on #138
Ok,

 I will produce several exemples.

2015-09-08 7:36 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-08 08:21] treasurebox commented on #141
Funny, with this particular kernel (csrm-adaptive), the following flags caused error:
[code]

But the following does not:
[code]

Note the extra space that was originally present between ```-cl-std``` and ```-DROWBITS``` flags. So this is clearly caused by a compiler bug, but at least there exists a workaround.
It still does not compile, however. I get a bunch of warnings (I think they are irrelev

[2015-09-08 12:35] pavanky commented on #139
@treasurebox Looks like `cl.hpp` may be added to the repo itself in the future which will solve the issue: https://github.com/clMathLibraries/clSPARSE/issues/120

[2015-09-08 12:36] pavanky commented on #137
@kknox
Looks like some OpenCL packages still do not ship `cl.hpp` (ref https://github.com/clMathLibraries/clSPARSE/issues/139). Adding `cl.hpp` to the repo sounds like the better option at the moment.

[2015-09-08 12:38] pavanky commented on #120
@kknox Looks like some OpenCL implementations do not include `cl.hpp`. It sounds like pushing the header into the source repo is the better option at the moment: #139

[2015-09-08 12:48] treasurebox commented on #139
Cool, Thanks!

[2015-09-08 12:58] jpola commented on #137
Hi, what I would like to have is to take part of the clSPARSE (internal
data structures, kernel mechanism execution and probably other existing
algorithms and put it nicely into one "internal" test which helps to
develop other algorithms.  Here I want to avoid linking with the clSPARSE
library, it can be broken in some places during the development. Is that
idea is described in second point of you

[2015-09-08 14:13] ghisvail commented on #120
@pavanky

Depends what you mean by *support*. Our default is to use the Khronos OpenCL headers and the ocl-icd-opencl-dev package to compile all OpenCL related packages. Then, the ICD loader will dispatch to your implementation of choice, be it Nvidia, AMD, pocl, beignet, mesa. These may or may not partially / fully support the 1.1 / 1.2 / 2.0 specifications. However, this is nothing package maint

[2015-09-08 14:23] pavanky commented on #120
@ghisvail My point is that many libraries do compile time checks for the OpenCL version. None of the free OpenCL implementations in Debian supports 2.0. IMO this is the incorrect way to package the headers.

[2015-09-08 14:25] pavanky commented on #120
Anyway, I do not want to pollute the issue further when there seems to be consensus on what needs to be done.

@ghisvail Ping me on gitter if you think I have very wrong misconceptions :)

[2015-09-08 14:26] jlgreathouse commented on #141
Hi @treasurebox

Could you try this compilation pass with the develop branch? We've made some significant changes to csrmv-adaptive since the last merge into master, including some better checking for proper double-precision support (and the ability to work properly without 64-bit atomics, which I have tested on a Radeon HD6870).

I can't guarantee things will work right now (like Kent, I don't ha

[2015-09-08 15:50] kknox commented on #138
@jpola I would be most interested to know, if this would allow us to be rid of the contentious cl.hpp file.  From my brief look, I don't think it will (no reference counting on command_queues or events), but I am interested to know if it does provide some functionality of the C++ interfaces.

[2015-09-08 16:08] jpecar opened #142 "error: invalid conversion from ‘void*’ to ‘cl_mem {aka _cl_mem*}’"
When trying to build with gcc 5.2.0, I get lots of error of this type for src/library/transform/clsparse-csr2coo.cpp (in lines 136, 137, 147, 148, 158, 159, 250, 251, 261, 262). These line involve pCsr and pCoo, which appear to be defined as clsparseCsrMatrixPrivate and clsparseCooMatrixPrivate, respectivelty.

How to fix this?

[2015-09-08 16:15] jpola commented on #142
Hi,
could you please provide more information about your build? Are you using master or develop branch? Are you using OpenCL 2.0?

Thanks.

[2015-09-08 16:17] kknox commented on #137
Yes, so I think either of the two options I listed above would work, and I am leaving it open to see which way you would prefer.  To explain in more detail:
- Our test programs that provide unit tests through the public clSPARSE API would remain as is and link to our library dynamically.  If you create an 'internal' test executable, I imagine that you would provide API's that you want to 'test' in

[2015-09-08 19:06] jpecar commented on #142
OpenCL 2.0 and master branch.

[2015-09-08 19:09] jpola commented on #142
The OpenCL 2.0 is not functional yet. Could you please compile it with OpenCL 1.2

[2015-09-09 07:22] jpola opened #143 "clSPARSE-xx.h not visible in project explorer"
Is it intended this file to be hidden?
OS: Linux, IDE: QtCreator

[2015-09-09 14:21] kknox commented on #143
No, it should not be hidden (I think it's a public file).  I think the reason it's missing is that it's not listed in the [cmake](https://github.com/clMathLibraries/clSPARSE/blob/master/src/library/CMakeLists.txt#L140) file.

[2015-09-09 14:23] jpola commented on #143
Yes, that is the reason. I just didn't know if that is just a minor mistake.

[2015-09-09 14:32] kknox commented on #143
Sorry, only forgetfulness.  In general, I don't see a reason to leave any file outside of the IDE, so if others are missing, assume the cmake file was not updated with the introduction of the new file.  Obviously, .cpp files are easy to catch but .hpp files can sneakily remain hidden without error.

[2015-09-09 14:32] #143 closed

[2015-09-09 16:04] treasurebox commented on #141
Hi!

  Thank you for your message! Unfortunately, with the develop branch I don't reach the actual kernel compilation. Please see below what happens when I try. Let me know what should I try next!

[code]

[2015-09-10 00:15] jlgreathouse commented on #141
Yikes, found that problem. Thank you for pointing that out! Our matrix validation function was too aggressive and was failing silently. This later caused a problem in the rowBlock generation code.

I have fixed the problem raised in your most recent post in the 'develop' branch of my local repo: https://github.com/jlgreathouse/clSPARSE.git

Could you try that one and give an update on any further

[2015-09-10 13:00] treasurebox commented on #141
Hi!

  Yes, with this branch (with some hacks) I've managed to run ```sample-spmv``` successfully!
  These hacks are:

- I had to comment out ```#error "Double precision floating point not supported by OpenCL implementation."``` in control.cl.
- in ```kernel-cache.cpp```, I had to hack out the trailing space from ```"-cl-kernel-arg-info -cl-std=CL1.2 "``` , since double space between compiler argu

[2015-09-11 14:39] kvaragan opened #144 "clsparseSCsrMatrixfromFile() returns clsparseInvalidSize."
I am trying to run default benchmark function SpMdV on test file: Bell & Garland cant.mtx file.
I am getting error clsparseInvalidSize. on further debugging the actual error occurs at validateMemObject() due to current_size != required_size. This error was not present before, I don't know why this is occurring? I tried other bell & garland matrices the output is same.

Environment: W9100, Ubuntu 1

[2015-09-11 15:08] jpola commented on #144
To make it work locally please comment lines from 660 from mm-reader.cpp:
Fix should looks like this:
[code]
The issue is related to mm_reader. This object for reading mtx file is reading the file twice. The first pass is just to read the header of the file. From header it is taking the necessary number of rows, cols and nnz to be allocated. The second pass is reading the values and values locatio

[2015-09-11 15:20] jlgreathouse commented on #144
Hi @jpola,

I wrote a fix for this problem while trying to debug Issue #141. Correct me if I'm wrong, but it seems that the validateMemObject function as written is too strict. On line 67 it is testing "if(current_size != required_size)" and returning clsparseInvalidSize (which is then silently causing failures in a lot of our benchmarks).

I haven't submitted a PR for this yet, but I fixed the pr

[2015-09-11 15:24] kvaragan commented on #144
Hi @jpola, I agree nr 1 is not needed, I am also surprised why sparse storage format inputs are having some elements with val == 0. Maybe for very large MTX files we can use this technique for fear of not enough memory but otherwise I feel its not needed.

[2015-09-11 15:25] jlgreathouse commented on #144
I also agree with at least including the option to save explicit zero values into the matrix when reading it in. All of the academic benchmarks we compare against save the explicit zero values, as does our internal code we used for the papers we wrote about CSR-Adaptive.

The [UFL collection claims](https://www.cise.ufl.edu/research/sparse/matrices/legend.html) that keeping these around is useful

[2015-09-11 15:31] jpola commented on #144
@jlgreathouse, unfortunatelly I can't agree on your suggestion regarding current_size < required_size. If the buffer will be smaller than required the algorithms will have undefined behaviour.

[2015-09-11 15:36] jlgreathouse commented on #144
Err, you're right. Sorry, I ended up doing exactly the opposite of what I'd hoped to do there. The general point still stands, though: should we not compare "if(current_size >= required_size)" instead of != ?

That, of course, doesn't fix the problem being discussed here but may prevent issues in the future.

[2015-09-11 15:41] jpola commented on #144
I was thinking about the same. We should allow users to allocate larger buffers than required. They i.e. may store several vectors in one buffer and play with the offsets (even if they are not fully supported right now).

@kknox
This function is your child :) How do you wish this issue to be resolved?

[2015-09-11 16:04] kknox commented on #144
@jpola To give credit where it's properly due, the mm-reader code was originally written by one Chip Freitag; I've ported and refactored his code for clsparse use.

On to the question: I agree the 'explicit' zeroes setting should be configurable, and we should probably change the default to include explicit zeroes.  We could easily implement this with flags that are passed into the API to control

[2015-09-11 16:06] jpola commented on #144
I will create two separate tickets. First for sanity checks, second for mm-reader.

[2015-09-11 16:08] jpola opened #145 "validateMemObject - enable sanity checks only in Debug mode."
Related discussion: #144

[2015-09-11 16:12] jpola opened #146 "Matrix Market reader: reading explicit zeros"
Add a flag to the function clsparseS/DCsrMatrixFromFile which indicates the need to load the explicit zero values.

Related to #144

[2015-09-11 16:38] kknox commented on #144
Do these two separate tickets supersede this one?  Is this now closed?  Or is this ticket still tracking a unique problem?  I'm wondering about the code  in @jlgreathouse fork that will eventually be merged.

[2015-09-14 11:54] treasurebox opened #149 "Cannot run sample-spmv on CPU"
Hi!

  I've modified the sample to use CL_DEVICE_TYPE_CPU, for comparison/benchmarking purposes. It didn't work:

[code]

Let me know how I can help diagnosing this!
As a secondary question, can I expect the algorithm to work with reasonable performance on a CPU, or it is only good for an actual GPU ?

(I am on jlgreathouse's repo develop branch currently)

[2015-09-15 03:54] kvaragan opened #151 "clSPARSE - Build fails in Mac OS X Yosemite"
First error I get 'OpenCL/cl.hpp' file not found, I replaced 'cl.hpp' with  opencl.h.
As a result I get another error "use of undeclared identifier 'cl'    cl::Event event;" . Any idea how to fix this.

Platform: Macbook pro - MAC OS X Yosemite supports OpenCL 1.2.

[2015-09-15 04:02] pavanky commented on #151
You need to undo what you did and download the proper cl.hpp and put it somewhere in the system path. You can find the cl.hpp file over here: https://www.khronos.org/registry/cl/api/1.2/cl.hpp

[2015-09-15 09:33] kvaragan opened #152 "SpMxSpM code changes"
Incorporate changes suggested in #150

[2015-09-15 22:04] kknox commented on #151
@kvaragan Look at #139 .

[2015-09-15 22:04] #151 closed

[2015-09-16 11:25] jpola opened #153 "coo2csr not working correctly for matrices where nnz < num_rows"
I found a bug related to my indices_to_offsets function. If number of nonzeros < number of rows the transformation function gives wrong row_offsets. row_offsets in this situation is larger than row_indices in corresponding coo format.

I missed this due to fact that for large matrices this situation is not common, but for small matrices I found that very often.

[2015-09-16 18:22] jlgreathouse commented on #144
I sat down to hammer on this a bit, and here are some updates:
@jpola, I've convinced myself that the patch I linked (https://github.com/jlgreathouse/clSPARSE/commit/39c40cf2a871d90215f9d12f11d4028cbff17735) is correct. Note that "if(current_size < required_size)" is the **failure** case. If the current size of your buffer is not large enough to hold the required number of NNZs, return clSparseInv

[2015-09-16 22:39] jpola commented on #138
Status: For several days I'm intensively testing boost/compute library. My tests revealed several bugs which were reported on the project page. When they will be fixed I would like to present you my research.

What I found untill now is:

1. Blas 1 operations seems to be slightly faster using boost/compute
2. Our code can be greatly reduced, we can get rid of reduce, scan, sort, operations etc. We

[2015-09-17 06:37] jlgreathouse commented on #141
Hi @treasurebox

I've added a branch onto my personal repo (jlgreathouse/fix_double). Could I possibly get you to try that branch to see if this fully fixes your problem? I've brought in your fix for kernel-cache.cpp and have added better detection of FP64 support into all of our OpenCL kernels (and the host-side support code).

I've done what testing I can, but it would be great if you could veri

[2015-09-17 13:49] treasurebox commented on #141
Yeah it runs without error! Thanks!
(Caveat: I was not able to test the correctness of results due to lack of time, and the supplied tests throw exception because it looks for either amd or nvidia, but I have neither)

[2015-09-17 16:17] kknox commented on #144
@jlgreathouse
The `exp_zeroes = 0` was totes me when I ported mm_reader; couldn't port the parser to the library.

[2015-09-17 16:29] kknox commented on #138
@jpola This is great research.  We are most definitely interested in being able to support CPU devices, which would allow us to be able to run basic unit smoke tests per-commit in Travis or Appveyor.

With regard to `compute::detail::is_amd_device()`, I think we want to get away from platform checks, re:[this complaint](https://github.com/clMathLibraries/clSPARSE/issues/141#issuecomment-141092737)

[2015-09-17 17:14] jpola commented on #138
If we work on our multiply routines: spmv, spmdm, spmm, and algorithms traversing csr matrix in similar way it will be quite easy to support CPU devices if we rely on boost.

compute::detail::is_amd_device is just an example, with other functions we can query for many other features like appropriate extension very easy.

When It comes to cl2.0, they have some functionality but I don't think that i

[2015-09-17 18:05] #145 closed

[2015-09-17 18:06] #144 closed

[2015-09-17 19:18] jlgreathouse commented on #138
I like the idea of relying on another library for these (usually dense) primitives. The one thing we may lose, however, is the ability to add the EXTENDED_PRECISION mechanism (compensated arithmetic) throughout the rest of our library.

This doesn't matter as much for e.g. sort operations. However, scan, reduce, and other operations that perform arithmetic may benefit from this technique. IMO, thi

[2015-09-17 19:48] jlgreathouse commented on #14
Should this issue be closed? It looks like the work in #145 handles both of these requests.

[2015-09-17 19:57] kknox commented on #138
Those is an excellent point @jlgreathouse , and something to consider.  @jpola , do you have a fork/branch with example code we could look over?  Something that we can see the 'before' & 'after' boost.compute refactoring?

[2015-09-17 20:00] kknox commented on #14
Certainly my comment about validating in debug builds is taken care of.  I leave it to @jpola to determine if the original issue about *private classes is done.

[2015-09-17 20:02] jpola commented on #14
:+1:

[2015-09-17 20:02] #14 closed

[2015-09-17 20:08] jpola commented on #138
I agree @jlgreathouse, extended precision is a big benefit of clSPARSE. I have branch here: https://github.com/jpola/clSPARSE/tree/intro_boost_compute

search for *"compute::"* to find places where boost compute is present. New functionality I've added is transposition of csr matrix. In several places I reimplemented our algorithms or added new version with suffix "2". It is not well organized sin

[2015-09-17 22:34] jlgreathouse commented on #13
Same question as #14  -- can this be closed now?  The one thing we're missing for both of these is a test for OpenCL 2.0 SVM. We currently always return success in this case.

[2015-09-18 11:04] nhaustov opened #157 "reduce_block with ATOMIC_INT needs volatile _global kernel arguments"
I'm getting:
atomic_reduce.cl:85:5: error: no matching function for call to 'atomic_add'
    atomic_add(&pSum[0], pX[idx]);
    ^~~~~~~~~~
opencl20_builtins.h:4254:35: note: candidate function not viable: no known conversion from '__global float *' to 'volatile __global int *' for 1st argument
int __attribute__((overloadable)) atomic_add(volatile __global int *p, int val);

[2015-09-18 15:50] jlgreathouse commented on #157
That seems to imply that VALUE_TYPE is float while ATOMIC_INT is being passed to the kernel. I'm not yet sure how that could happen.

Is this on the master branch or the develop branch?

What program are you running that causes this error? What inputs are you giving it?

[2015-09-18 15:56] kknox commented on #157
Also, please give details on the HW, OS, drivers etc.

[2015-09-18 18:39] jlgreathouse commented on #141
Hi @treasurebox,

#156 should solve this issue, so our develop branch should work on hardware without DPFP support now. The lack of support for anything but AMD or NV in the test-blas2 application is a different problem, and I believe we're on path to fix that (see [this comment](https://github.com/clMathLibraries/clSPARSE/issues/138#issuecomment-141140861) by @kknox). You may want to raise a sepa

[2015-09-18 18:39] #141 closed

[2015-09-18 21:05] kknox commented on #149
Hi @treasurebox , CPU devices have not been a target for either testing or performance work, so we can make no claims that it will work or that it will perform well.  It should work (as theory), as opencl abstracts the device implementation assuming there are no problems in the runtime.

-1015 is the code for clsparseInvalidKernelExecution.  Its returned from many places in the code.  Can you step

[2015-09-19 04:46] jlgreathouse commented on #149
For what it's worth, I tried to test this by changing line 126 of sample-spmv.cpp from `cl_status = platform.getDevices(CL_DEVICE_TYPE_GPU, &devices);` to `cl_status = platform.getDevices(CL_DEVICE_TYPE_CPU, &devices);`.

When running this on an AMD A10-7850K CPU using the AMD APP SDK on Linux, the program completed successfully (without Error -1015). As such, we will likely need your help in debu

[2015-09-21 17:03] kknox commented on #138
Hi @jpola
My overall impression is that I really like how boost.compute simplifies the library code.  Zip-iterators are cool....  Using boost.compute should significantly increase library maintainability, and the fact that you were able to implement csr transpose so fast is significant (as long as performance is good, which all indications say is good).

Re: @jlgreathouse feedback about the abilit

[2015-09-21 17:59] jpola commented on #138
For now I don't see any solution for keeping alpha on device. My natural approach was to create constant iterator from the value from the buffer, then zip x, y and alpha (as constant iterator) and use COMPUTE FUNCTION. Unfortunatelly boost compute can't create constant iterator form device value. At least for now. There might be some other possibilities with usiong function iterators + lambda func

[2015-09-21 18:40] kknox commented on #138
Here's another question for you:
Can we safely drop our dependence on cl.hpp?  I see that most of your uses on cl.hpp are for calling get_info<> on various cl.hpp classes.  It seems like boost.compute also provides [functionality for this](https://github.com/boostorg/compute/blob/master/include/boost/compute/device.hpp#L466), but it doesn't appear to have everything.  For instance, you have used C

[2015-09-21 18:56] jpola commented on #138
OK, I agree.

2015-09-21 20:40 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-21 19:33] kknox commented on #138
I think our biggest problem is that reductions have to be written to host.  How badly would this affect the performance of your solvers?  My gut says a lot; I think it might make sense to ask their mailing list if there is a workaround.  Maybe the right answer is to *not* use boost.compute for the solver routines.

[2015-09-21 19:59] kknox commented on #138
I may not have understand your statement, but why check alpha at all?  I assume that multiplying by 0 is the same perf as filling 0's (your original algorithm would not read alpha to host at all, or transfer a pattern to device).  It seems to me that boost.compute does have a limitation here (if constant iterators have to live on host).

We should keep them if they make sense as building blocks.

[2015-09-21 21:49] jpola commented on #138
Yeah, that is true. Give me several days, to see if maybe I can find something worth trying.

This arise from here: https://github.com/clMathLibraries/clSPARSE/blob/develop/src/library/blas1/cldense-axpby.cpp#L42

we had a little chat whether I should call distinct function depending on the value of parameters, unfortunately I can't find it.

[2015-09-21 22:20] jpola commented on #138
Silly me, there is no issue at all. Functions compute::transform and compute::reduce generates the results directly to device. There is no impact on the solver performance.

[2015-09-21 22:26] kknox commented on #138
Am I looking at the right [reduce](http://boostorg.github.io/compute/boost/compute/reduce.html)?  The example shows sum as a host variable; maybe that's tripping me up.  Can the output iterator also work with `compute::make_buffer_iterator`?

[2015-09-21 22:31] jpola commented on #138
Yes, the output iterator can be a compute::buffer.

2015-09-22 0:26 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-21 22:32] jpola commented on #138
See here: https://github.com/jpola/clSPARSE/blob/intro_boost_compute/src/library/blas1/cldense-reduce.cpp#L119

[2015-09-21 22:39] kknox commented on #138
:+1:
I think I'm convinced that using boost.compute would be an overall win for the library, given we introduce our first dependency in the library code proper.

I'm willing to listen to other opinions: @jlgreathouse @kvaragan

[2015-09-21 22:44] jpola commented on #138
One more comment. I had to use develop version because there was
sort_by_key algorithm which was not yet present in the master branch.

2015-09-22 0:39 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-22 09:13] nhaustov commented on #157
I am actually doing offline compilation with an experimental compiler based on clang. I thought it was not allowing conversions from  int * to volatile __global int *, but it seems the reason was wrong defines passed to clang. I'm closing the issue as it is my error.

[2015-09-22 09:13] #157 closed

[2015-09-22 12:50] ghisvail commented on #120
Just a heads up on the OpenCL situation in Debian. An updated snapshot of the khronos OpenCL headers has been uploaded, witch contains the new `cl2.hpp`.

[2015-09-22 17:13] kknox commented on #138
@jpola I have no problems with using the develop branch (easily controllable by cmake).  I assume that will be the version that would eventually be distributed in Boost.

[2015-09-22 20:09] kknox commented on #120
Thank you for the heads up.  Given the instability of cl?.hpp distribution, my current hope is to [eliminate our use](https://github.com/clMathLibraries/clSPARSE/issues/138#issuecomment-142071271) of it with boost.compute.

[2015-09-22 20:10] ghisvail commented on #120
Sounds like a good plan. Good luck with that.

[2015-09-23 16:45] kvaragan commented on #138
Introducing external library dependencies will have their own advantages/disadvantages, but it boils down to whether customer of clSPARSE will be comfortable with such changes. We will be better able to decide if we can get any such customer feedback.

[2015-09-23 16:51] pavanky commented on #138
@kvaragan I can't talk for everyone but from ArrayFire's perspective going with Boost.Compute is probably better than re-implementing it from scratch. The only down side can be if the version available to the general public is different than the version being used by clSPARSE.

I think using the develop branch while clSPARSE is pre-release is OK as long as the final version can work with the lates

[2015-09-23 17:05] kknox commented on #138
I did think about this some, and I believe even the version used by clsparse *should* not make much of a difference to users since it is a header only library.

[2015-09-23 17:11] pavanky commented on #138
@kknox This is not much of a difference to a user who is building from source. But what we have realized is that we need to be a little bit more strict with the dependencies when people are packaging it for various Linux distributions.

[2015-09-23 17:31] kknox commented on #138
@pavanky I suppose there could be a possibility of symbol conflicts for users who statically link to clsparse.a, which might have used a different boost.compute version than their own.  I believe dynamically linking to clsparse.so would protect against that; is that your experience?

[2015-09-23 17:34] pavanky commented on #138
@kknox @ghisvail might provide a better answer, but usually for package maintainers they prefer to use the version of a package already present in their repos instead of including a separate (or newer) version for clSPARSE. I am not sure what symbol issues will arise for header only libraries.

[2015-09-23 17:53] ghisvail commented on #138
Our policy is to *always* link dependencies dynamically. If a dependency is not available in the archive, it has to be packaged first. For instance, the packaging of the OpenCL backend of ArrayFire has been delayed, since I had to get `clBLAS`, `clFFT` and `Boost.Compute` in the archive first.

As long as clSPARSE can be built with the system's `Boost.Compute` instead of a vendorized / downloaded

[2015-09-24 20:41] matusi143 commented on #75
I'm curious why ViennaCL was not chosen as it is a openCL library in and of itself.  The sparse matrix and iterative solver functions seems to be a very close parallel to what is being worked on here.  I'm actually just now starting to use both clSPARSE and ViennaCL in my own application to compare performance and (hopefully) confirm numerical correctness of each  library.  Much of ViennaCL does n

[2015-09-24 21:12] kknox commented on #75
This thread sums up our entire conversation into our reasoning; I think @jpola and I were mostly looking for a mature CPU based library to compare our results against, not another Accelerator based (opencl, cuda or whatever backend) library.  We are not so much concerned about performance, as just to stability, correctness and ease of use for our unit tests.  There is (albeit unsubstantiated) comf

[2015-09-28 11:00] kvaragan opened #158 "Feedback Needed - Refactored SpMxSpM"
Single API is now split into multiple API's in order to allow the application to allocate memory rather than the library.
I have written the sample code on how to use this API.
Is this the better-way ? See the code @
sample file : https://github.com/kvaragan/clSPARSE/blob/kvaragan_PR150/samples/sample-spmspm.cpp

refactor code: https://github.com/kvaragan/clSPARSE/blob/kvaragan_PR150/src/library/b

[2015-09-28 15:28] jpola commented on #158
I'm checking it right now.

[2015-09-28 17:21] jpola commented on #158
I think the way to multiply two sparse matrices [here](https://github.com/kvaragan/clSPARSE/blob/kvaragan_PR150/samples/sample-spmspm.cpp#L247) is way too complicated. I understand that the issue is related to the concept that user is responsible for buffer allocation. Here are my general comments

1. Users should not see the ```rowPtrCtSizeInBytes```  and ```buffer_d_SizeInBytes``` I think they s

[2015-09-29 06:25] kvaragan commented on #158
Thanks for the feedback @jpola . I agree with all comments and your suggestions can be incorporated, but before I do that should we go ahead with this design. Basic principle of this design is, to separate memory allocations from computation and user should have control for buffer allocation.

[2015-09-29 14:58] jpola commented on #153
I have solution for that. Fix require scatter operation which I don't want to write since we will be using boost compute in the near future? Isn't it?

[2015-09-29 20:43] kknox commented on #153
Yes, I've not heard significant resistance to using boost.compute; it makes a lot of sense for clsparse.

[2015-09-29 21:35] kknox commented on #158
@kvaragan
I approve of your goal here, but I have to agree with Jakub that this interface is not finished yet.  If I have to ask users to change their SpM-SpM interface 1 time before v1.0, I would rather ask them to change from using this API:
[code]
than to change from these API's
[code]

I agree that currently the SpM-SpM is allocating a lot of internal memory, but the user experience of the ori

[2015-09-29 21:37] kknox commented on #158
@jpola
Will it be possible to just typedef `clsparse::vector` to the boost.compute vector?  Same with array?

[2015-09-29 21:49] jpola commented on #158
I wish but I think it would not be possible. I'll take a closer look on
that tomorrow.

2015-09-29 23:37 GMT+02:00 Kent Knox <notifications@github.com>:

[2015-09-30 04:11] kvaragan commented on #158
@jpola using clsparse::vector is same as using clCreateBuffer(),because internally that's what clsparse::vector is doing. If I use clsparse::vector then it will defeat the purpose of this design.

[2015-09-30 04:21] kvaragan commented on #158
@kknox Because of the nature of the algorithm, 2 APIs are not enough but if we clsparse::vector may be it can be done, but that means memory allocations inside the library and that will be as good as our first implementation.

So can I conclude we that will be going with the 1 API design which is already present in the develop branch?

[2015-09-30 06:26] jpola commented on #158
@kvaragan of course the clsparse::vector is built over the opencl buffer. It was just my suggestion that I would use it because it have more benefits among many I think those are the most important:

1. Code is more readible which means that it is easier to understand and maintain.
2. clsparse::vector manages the memory for you. You can avoid potential memory leaks. Even if i saw that the code see

[2015-09-30 08:42] kvaragan commented on #158
@jpola If this is the case, then why don't we  expose this header to application, so that application can start using clsparse::vector. I don't know whether this is currently possible or not. We will have advantages of what you mentioned and advantages of user having control over memory allocations.

If we can't expose this header, then we don't need this new design we can stick to the old one and

[2015-09-30 09:18] jpola commented on #158
Sorry Kiran, I might misunderstood you. The concept I mentioned before is
applicable only for internal code of our library. My answer was referring
to the point 5. from my list of feedbacks.  Instead of cl_mem I wish to use
clsparse::vector.

When it comes to interface functions from clSPARSE.h header we are passing
cl_mem due to fact that we want that clSPARSE is having C style interface.
Library

[2015-09-30 09:39] kvaragan commented on #158
Understood, I missed the point C-style interface. So we will stick to the 1 API design + your suggestions about memory allocations (clsparse::vector). Thanks for clarifying.

[2015-09-30 19:10] kknox commented on #158
@kvaragan I looks like @jpola answered the majority of your questions, but to close this out I think we need to ship Beta2 with the 1 API version.  It's not optimal, but its easy to document and use.  I think a good approach to use is to try to simplify the guts of the SpM-SpM routine first (starting with the recommendations above), and once the current codepaths are simpler (possibly leveraging b

[2015-10-01 06:26] kvaragan commented on #158
@kknox I am closing this issue, with conclusion for Beta 2 release we will go with 1 API version. I will add rest of the suggestions to future enhancements #152. Thank You for the feedback

[2015-10-01 06:26] #158 closed

[2015-10-01 06:27] kvaragan commented on #152
Incorporate changes suggested in #158

[2015-10-05 18:11] treasurebox commented on #149
Hi! Sorry for disappearing, I'd love to help debugging this, but currently I am a bit swamped under my other duties.

[2015-10-09 03:38] kvaragan opened #159 "SpMxSpM expects input CSR matrices in ordered form - To be Researched for generic CSR format support"
Limitations on input CSR matrix, The pre-conditioner for SpMxSpM the input CSR matrices should be ordered. The column indices of each row should be ordered (sorted).
The behavior is unknown if the csr matrices are not ordered. New algorithm needs to figured out for these cases

[2015-10-14 08:26] kvaragan opened #161 "Dense2Csr OpenCL Run-time compilation error"
I get this error: test case: smallMTX (Dubcova1.mtx, same error for all files)
---------------------------------------
"/tmp/OCL4949T17.cl", line 40: error: unrecognized token
      #pragma OPENCL EXTENSION cl_khr_global_int32_base_atomics : require
                                                                  ^

"/tmp/OCL4949T17.cl", line 41: warning: unrecognized #pragma
      #pragma OPENCL

[2015-10-14 10:16] ghisvail opened #162 "clSPARSE does not build with OpenCL 2.0 on Debian"
Using the latest `v0.6.2.0` tag, clSPARSE fails to build on Debian testing / unstable with the following error message:

[code]

Despite explicitly passing `-DBUILD_CLVERSION=2.0` to CMake.

[2015-10-14 14:17] kknox commented on #162
We have soft plans to switch the library internals to boost.compute, which will remove references to cl.hpp (see #138).  There is no ETA on this though, we only have a proof-of-concept at this point.

[2015-10-14 14:20] kknox commented on #161
@kvaragan , try replacing 'require' with 'enable'

[2015-10-14 14:34] ghisvail commented on #162
Alright I will hold on then.

[2015-10-14 16:08] jlgreathouse commented on #161
Better yet, change the `#if` statement on 41 to the following:
`#if __OPENCL_VERSION__ <= CL_VERSION_1_0 && (defined(ATOMIC_FLOAT) || defined (ATOMIC_INT))`

I used the "require" term because [the online documentation for OpenCL 1.0](https://www.khronos.org/registry/cl/sdk/1.0/docs/man/xhtml/EXTENSION.html) implied this was the correct syntax (compared to 1.1 and above, which all use "enable". The

[2015-10-15 00:53] jlgreathouse commented on #161
I see that "require" is [a bug in the OpenCL documentation](https://www.khronos.org/bugzilla/show_bug.cgi?id=345) that they (perhaps) have no intention of fixing.  I will shortly submit a patch that fixes this.

[2015-10-15 04:58] jlgreathouse commented on #13
@jpola -- thoughts?

[2015-10-15 06:26] jpola commented on #13
I agree, let the internal code of the validation procedures be disabled in
the Release mode

2015-10-15 6:58 GMT+02:00 Joseph Greathouse <notifications@github.com>:

[2015-10-16 10:44] kvaragan commented on #13
If the validation procedure is only happening in I/O and not inside the actual function call, then I think this validation should be present in the Release mode as well. Validations can go wrong in release mode as well.

[2015-10-16 11:31] jpola commented on #13
They should be present in all interface functions.

2015-10-16 12:44 GMT+02:00 Kiran <notifications@github.com>:

[2015-10-16 19:21] #161 closed

[2015-10-20 19:53] kknox commented on #13
The overwhelming feedback I have received from our other libraries, is that users do not like to see 'extra' calls into the opencl runtime even if the performance impact is negligible.  Users will often take traces of their opencl application, and question why so many calls to clGetMemObjectInfo, clGetDeviceInfo or clGetCommandqueueInfo exists.  This is fine for a debug build, but in a release bui

[2015-10-20 19:53] #13 closed

[2015-10-21 19:23] #146 closed

[2015-10-27 05:16] kvaragan opened #169 "test blas3 for SpMSpM crashes (Master Branch only)"
clsparseCsrMetaSize() @ Line # 60 in the file sparse_matrix_environment.h should be commented or should be called at different location like in develop branch.

[2015-11-04 08:51] kvaragan commented on #169
Fix present in develop branch, Merge is done. clSparseCsrMetaSize() functions are not needed and they can as well be commented out here for SpMxSpM.

[2015-11-04 08:51] #169 closed

[2015-11-06 10:21] wanderine opened #171 "Support for Cholesky decomposition"
It would be nice to have support for Choesky decomposition (both incomplete and complete). The cusparse library currently supports incomplete Cholesky.

[2015-12-07 02:22] dpo commented on #139
The `cl.hpp` referred to in `.travis.yml` no longer exists on the Krhonos website. Is it safe to use [this one](https://www.khronos.org/registry/cl/api/2.1/cl.hpp)? It's in the 2.1 folder, but it seems to indicate it's for OpenCL 1.0, 1.1 and 1.2.

[2015-12-09 17:54] kknox commented on #139
Yes, I believe it is safe to use.  Looks like the one that disappeared is version 1.2.7, and the new one is version 1.2.8.  Why they changed the path to the file, I don't know.  It does look like they incorporated some bug fixes, but nothing that should break our functionality.

[2015-12-09 20:59] dpo commented on #139
Thanks.

[2015-12-09 20:59] dpo opened #174 "Undeclared identifier sqrt"
I'm trying to build `clsparse` using the missing `cl.hpp` header (as mentioned in #139) on OSX 10.9, and I'm getting an error:
[code]
Any ideas?

[2015-12-11 15:47] kknox commented on #174
Sounds like we are missing a header file for the benchmark program.  Funny thing is that I believe this [compiles on travis](https://travis-ci.org/kknox/clSPARSE/jobs/96080354).  I assume that this is something that fixed itself on 10.10 or 10.11.

As a fast fix, the benchmark program is not needed; you can configure cmake to not build it.

[2015-12-11 22:39] dpo commented on #174
I see, thanks. What would be the CMake flags to skip building the benchmark?

ps: the goal here is to build a Homebrew formula.

[2015-12-16 17:32] kknox commented on #174
Does not look like there is yet a way to pass a flag from the superbuild into the [clsparse subproject build](https://github.com/clMathLibraries/clSPARSE/blob/master/src/CMakeLists.txt#L180).
As a test for you, you could try modifying [src/clsparseTimer/CMakeLists.txt:59](https://github.com/clMathLibraries/clSPARSE/blob/master/src/clsparseTimer/CMakeLists.txt#L59) to
target_link_libraries( clspars

[2015-12-17 05:34] kvaragan opened #177 "Probable bug in conversion routines"
test case: Reuters911.mtx. Environment: Linux 64-bit, W9100.
test-conversion routines reports failed tests:
dense_to_csr, where TypeParam = float
coo_to_csr, where TypeParam = float
csr_to_dense, where TypeParam = double
dense_to_csr, where TypeParam = double
csr_to_coo, where TypeParam = double
coo_to_csr, where TypeParam = double

We need to look at conversion routines.

[2015-12-17 10:59] kvaragan commented on #177
Reuters911 has integer symmetric data, as a result in dense2csr conversion fails in the function
**atomic_reduce<T, F_OP>.** The template parameter **T** is clsparseIdx_t which is cl_uint. But in the function **atomic_reduce**, the condition *else if (typeid(cl_int) == typeid(T))* fails. We can't change cl_int to cl_uint since mtx data can be integer and not just unsigned int. This removed **clspa

[2015-12-17 16:21] kknox commented on #177
Hi Kvaraga~
I'm looking at the contents of the Reuters911 file, and I don't see negative indices.  Do you feel that we should be using signed types as indices?  I don't know of a use case.

[2015-12-18 05:09] kvaragan commented on #177
The indices are not negative, it is the values which can be negative just like in the real matrices. So we need to support integer values as well. I added the condition *typeid(cl_sparseIdx_t) == typeid(T)* to remove clsparseInvalidType error.

[2016-01-18 18:03] jpola commented on #177
Hi,

Have you tried to run any of clSPARSE programs on CUDA device? I have GTX 660 with CUDA 7.5. It is capable to execute OpenCL 1.2 programs however when I executed any of samples I obtain following error:

[code]

[2016-01-18 22:01] kknox commented on #177
Hi @jpola
I've not tried to run tests on an Nvidia device in some time.  Is it any kernel giving this parse error?   I will try to repro my tomorrow.

[2016-01-19 06:35] kvaragan commented on #177
Just tried running clsparse binaries on NV systems, they are not working. Some are producing seg-faults and some are producing the error mentioned by @jpola .

[2016-01-19 07:30] jpola commented on #177
Since CUDA devices are now supporting OpenCL 1.2 standard, the whole flow:
compilation, kernelWrapper and sourceProvider need to be revisited. Since
currently I do not have AMD GPU available, I can't proceed with the isssue
related to conversion routines. Sorry.

2016-01-19 7:35 GMT+01:00 Kiran <notifications@github.com>:

[2016-01-19 17:30] jpola commented on #177
I think but not sure that ```-cl-kernel-arg-info``` is causing the problem.

[2016-01-20 00:00] kknox commented on #177
Hi @jpola
It took me a few hours to build a machine again, but I think I can help you.  This is not a valid fix for checkin, but minimal changes  to execute on an nvidia device again.

[kernel-cache.cpp:45](https://github.com/clMathLibraries/clSPARSE/blob/master/src/library/internal/kernel-cache.cpp#L45): #if( BUILD_CLVERSION >= 200 )

[kernel-wrap.hpp:123](https://github.com/clMathLibraries/clSPA

[2016-01-25 18:06] jpola commented on #177
Hi,

I did some research regarding the bug.
<goog_146701560>

   1. reduce_by_key.hpp
   <https://github.com/clMathLibraries/clSPARSE/blob/develop/src/library/transform/reduce-by-key.hpp#L132>
   there should be size_input instead of size.
   2. The main problem lays in the indices_to_offsets function. The code is
   working for the matrices having all rows filled with at least one non-zero
   val

[2016-01-25 19:29] kknox commented on #177
Hey Kuba~
Thanks for taking the time to triage, i know that you are busy with other projects.  Does your quick fix only apply to a few of the conversion routines?  It looks like you have 2 fixes above, one is simple and one is more involved.  If everything is fixed, which routines would slow down (by offloading to CPU)?

Kent

[2016-01-25 19:36] jpola commented on #177
The routines which will be aftected are dense_to_csr and coo_to_csr. They
both converting coo format to csr.

2016-01-25 20:29 GMT+01:00 Kent Knox <notifications@github.com>:

[2016-01-25 22:32] kknox commented on #177
Hi @jpola
If you could make the fast fixes and check them into the /develop branch, we will look into the greater overall fix if/when we transition to boost.compute.  I would appreciate if you could comment the code appropriately for why the computation is routed to CPU.

K

[2016-01-26 07:08] jpola commented on #177
Sure, I will do that.

2016-01-25 23:32 GMT+01:00 Kent Knox <notifications@github.com>:

[2016-03-18 13:42] nyotis commented on #171
@wanderine that's a feature, not an issue

[2016-03-18 17:40] jlgreathouse commented on #171
I'll defer to @kknox here, but we've been using the issue tracker as a feature/TODO list as well.

[2016-03-18 17:46] pavanky commented on #171
@wanderine There's no reason to close the issue..

[2016-03-18 17:48] wanderine commented on #171
I'm now more interested in support for preconditioned conjugate gradients
(PCG), which does not need a complete Cholesky (which is often very slow
for large matrices).

2016-03-18 18:46 GMT+01:00 Pavan Yalamanchili <notifications@github.com>:

--
Anders Eklund, PhD

[2016-03-18 17:58] jlgreathouse commented on #171
Both are useful feature requests. Let's leave this one open, and if you want to talk about PCG, you can make a separate feature requests/issue.

One question: what kind of preconditioners are you interested in? I believe a general request like what you have may be larger than a single feature.

[2016-04-12 09:42] lennyhpc opened #186 "missing double precision sparse matrix-matrix multiplication"
clsparseScsrSpGemm() is provided but clsparseDcsrSpGemm() is missing...

[2016-04-21 14:15] ghisvail commented on #162
Any news on this?

[2016-04-22 01:30] kknox commented on #162
The momentum to convert the internals to boost.compute has stopped; we don't have the resources at this time.  However, I am working on getting approval to check-in cl.hpp pushed through.

[2016-06-27 16:50] 9prady9 opened #188 "MTX files Download issue"
I have tried multiple times after giving some time gap, but i am still getting the follow errors when i try to download the MTX files

[code]

[2016-06-28 18:36] pavanky commented on #162
@ghisvail can you check if clsparse compiles on debian with #187 ? You may need to run cmake with `-DUSE_SYSTEM_CL2HPP=ON`.

[2016-06-30 10:57] ghisvail commented on #162
@pavanky I'll try to find some time to look at this by the end of the week. Cheers for the heads-up.

[2016-07-01 04:24] 9prady9 commented on #188
Gave it another shot today and it seems to work now. May be network issues the other day, although rest of network traffic was swift!

[2016-07-01 04:24] #188 closed

[2016-07-02 11:40] ghisvail commented on #162
I refreshed the packaging with https://github.com/clMathLibraries/clSPARSE/commit/9677ec36a3c670654caec19308bc9fe44cea46bd, but cannot get the build to succeed. This is the cmake command run by the package build process:
[code]
and the build log output:
[code]

[2016-07-02 15:52] pavanky commented on #162
@ghisvail can you remove explicitly passing `BUILD_CLVERSION` ?

[2016-07-05 06:46] ghisvail commented on #162
@pavanky same outcome

[2016-07-05 08:33] pavanky commented on #162
@ghisvail I was able to compile the library using  the following patch after configuring with the following command on debian testing.

[code]

[code]

[2016-07-05 09:40] ghisvail commented on #162
Thanks for looking at it. Then, it should be fine if we were able to compile, unless you want me to double-check ?

[2016-07-05 10:30] pavanky commented on #162
@ghisvail I sent in this PR: https://github.com/clMathLibraries/clSPARSE/pull/189 may be wait until it is resolved?

Can you also raise a debian bug to update the cl2.hpp header? Khronos moved the headers to a github repo now: https://github.com/KhronosGroup/OpenCL-CLHPP

The version available in debian testing is a bit buggy.

[2016-07-05 11:46] ghisvail commented on #162
Is the [`2.0.9`](https://github.com/KhronosGroup/OpenCL-CLHPP/releases/tag/v2.0.9) release enough? Or do you need anything newer?

[2016-07-05 15:36] pavanky commented on #162
@ghisvail This commit seems to be the issue: https://github.com/KhronosGroup/OpenCL-CLHPP/commit/befe77b66fd3dd87ce9fef940e475cdc71d8bd9f

It was made after the release of 2.0.9. May be you can ask upstream to make a new release?

[2016-07-05 18:39] ghisvail commented on #162
I have just sent the bug reports to the Debian maintainers of the OpenCL headers asking for an update. Meanwhile, I'll check with upstream whether they are happy to do a release. Worst case, this commit could be cherry-picked onto `2.0.9` I presume.

[2016-08-02 22:11] dagamayank opened #193 "make install not working"
After compiling with `make` if I to do `make install` I get the following error:

[code]

`make` completes fine with zero errors. This occurs on both master and develop branches.

[2016-08-08 11:21] ghisvail commented on #162
@pavanky I saw your PR was merged, which means clSPARSE can now probably be built in Debian.

Any plans to tag a new release out soon ?

[2016-08-10 07:20] ghisvail commented on #162
I can confirm that the current tip of `develop` can be successfully built on Debian. Closing.

[2016-08-10 07:39] ghisvail opened #194 "Testing depends on remote content fetching"
I successfully managed to build the latest tag (0.10.1.0) of clSPARSE in Debian and was looking for a way to run the testsuite from the corresponding tarball.

However, it seems the testsuite requires additional files for its execution. These are not provided in the tarball and are probably downloading by the SuperBuild (correct me if I am wrong). This is an issue for Debian packaging, since the p

[2016-08-10 15:15] kknox commented on #194
HI @ghisvail
You are correct; the superbuild has [cmake code](https://github.com/clMathLibraries/clSPARSE/blob/master/cmake/ExternalMTX.cmake) to fetch input data.  The data is typically measured in megabytes, but can go into gigabytes, so it's best left out of packaging.

I hear your request and it's a valid suggestion, but it's not a task I can commit to right now.  I am of the mind now that our

[2016-08-10 16:30] ghisvail commented on #194
Which would be fine in terms of size to embed in the source tree...

less fine...

Well until now for, I had testing turned off `clBLAS`, `clFFT` and now `clSPARSE` because the OpenCL stack in Debian was behind Now we caught up. And with latest version of `pocl`, we can do CI-testing of our OpenCL packages. such as ArrayFire and the clMath libraries, against the rest of the archive.

Debian and ot

[2016-08-10 23:06] ghisvail commented on #162
My bad. OpenCL 1.2 builds fine, but OpenCL 2.0 still fails.

[2016-08-10 23:11] ghisvail commented on #162
You can get a build going with the following patch:
[code]
and start a build with OpenCL 2.0, but it leads to more errors:
[code]

[2016-08-10 23:32] pavanky commented on #162
You shouldn't have to change anything.. What is the error you are getting earlier ?

[2016-08-10 23:34] pavanky commented on #162
If you mean cl2.hpp works fine with OpenCL 1.2 I don't see a problem with it. I don't think clSparse has been patched to work in OpenCL 2.0 only.

Why do you need to force it to use OpenCL 2.0 APIs ?

[2016-08-11 07:19] ghisvail commented on #162
Indeed it works. Will it be sufficient for the next release of ArrayFire then?

That's what I figured from the results of the build above. Seems that the OpenCL 2.0 path of the codebase has not been adapted to recent changes in the API (such as https://github.com/clMathLibraries/clSPARSE/commit/e92f41b2269793e3c26b40429793e93bc3eabd4d).

[2016-08-11 14:16] pavanky commented on #162
ArrayFire also targets 1.2. Considering that OpenCL libraries are backwards compatible, I think that is a fair.

I don't think clSparse ever had an OpenCL 2.0 path. @kknox correct me if I am wrong here.

[2016-08-11 15:16] ghisvail commented on #162
Then I'll stick with 1.2 for all clMath libraries to remain consistent with what AF supports.

The [official documentation](http://clmathlibraries.github.io/clSPARSE/) suggests otherwise:

"OpenCL 2.0 support is not **yet** fully implemented; only the interfaces have been designed"

[2016-08-11 15:22] ghisvail commented on #194
Perhaps embedding some representative sample `.mtx` files to play along with the executables under `clsparse/samples` could be enough for testing on our end. Hopefully, this should not require too much work on your end, as opposed to reorganizing the codebase of the testsuite.

What do you think?

[2016-08-12 19:29] bkmgit commented on #194
Hi, Trying to build for Fedora and put in repositories. Have similar issue with remote dependencies, in particular OpenCL-CLHPP which itself uses a different testing infrastructure. Is it possible to package the necessary header files directly with clSPARSE?

[2016-08-12 19:56] pavanky commented on #194
@bkmgit cl2.hpp should ideally be packaged into fedora as well.

[2016-08-12 21:28] kknox commented on #194
Hi @ghisvail
My recommendation is to proceed with turning testing off for now.

@bkmgit
I concur with pavanky.

[2016-08-23 09:35] ghisvail opened #195 "Possible overlinkage"
During my packaging effort for `clSPARSE`, the following warning was raised by the Debian tools:
[code]
which usually suggests the target is overlinked, but it could also be a false positive.

Please let me know.

[2016-08-23 15:11] kknox commented on #195
The comment I made in the cmake file is that we use the rt library for the '[high precision timer](
https://github.com/clMathLibraries/clSPARSE/blob/master/src/clsparseTimer/CMakeLists.txt#L79)'

However, when I look at the code in the timer class, it looks like right now it is just using [gettimeofday()](
https://github.com/clMathLibraries/clSPARSE/blob/master/src/clsparseTimer/clsparseTimer-host

[2016-08-23 15:29] ghisvail commented on #195
in [glibc](http://www.gnu.org/software/libc/manual/html_node/High_002dResolution-Calendar.html)?

[2016-08-24 16:30] gpu opened #197 "Missing implementations of clsparseScoomv and clsparseDcoomv"
(The build process of clSPARSE is ... ehm ... "sophisticated", so apologies if I did something wrong and if the issue is on my side)

The implementations `__imp_clsparseScoomv` and `__imp_clsparseDcoomv` seem to be missing. When building the library from scratch and trying to use these functions, this results in

    Unresolved external symbol __imp_clsparseScoomv referenced in function ...
    Un

[2016-08-25 19:46] gpu opened #198 ""Kernel not found in cache" for SPMV sample"
Again, apologies if this is issue is related to the build system being messed up on my side (although I doubt that this is the case)

After compiling the samples, trying to run the sample_spmv results in a message

and a painful crash. The output when running the debug build of the sample:

    C:\Develop\clMathLibraries\clSPARSE.build\clSPARSE-samples-build\staging\Debug>sample-spmv.exe C:\Develo

[2016-08-27 12:11] blueberry commented on #198
I am also interested in this issue, since I would really like to try clSparse, but the building process is really messy. Is there a way to have a clear, step-by-step guide with the most common pitfalls?

[2016-08-27 12:11] blueberry commented on #197
I am also interested in this issue, since I would really like to try clSparse, but the building process is really messy. Is there a way to have a clear, step-by-step guide with the most common pitfalls?

[2016-08-29 18:23] kknox commented on #197
@blueberry , have you looked at the [build primer](https://github.com/clMathLibraries/clSPARSE/wiki/Build) on the wiki?  Let me know if you find sections that are insufficient.

@gpu I have not gotten to reproducing your issue yet.

[2016-08-29 18:40] blueberry commented on #197
@kknox Yes, I have. And it looks quite OK on the first glance. The problem (for me) is that the build process itself is quite complex, so when something does not go as in the guide, it is quite hard (for non-expert I suppose) to find what's wrong.

In this case, I couldn't pass the first stage. I got this error on pressing "Generate" for the deps:

-------------------------------------------------

[2016-08-30 04:47] kknox commented on #197
@blueberry
I have run into this issue before, on a mac system.  It's not very reproducible, it works for me on various other systems.  I have yet to nail down why the `DEFINED ENV{CC}` seems to pass on some systems when it shouldn't.  I created a patch for my mac system, that will probably work on your system too.  [Try it out and let me know](https://github.com/kknox/clSPARSE/commit/dd7101135aaa7

[2017-02-03 15:31] TillAlex opened #203 "C# Wrapper"
Did anyone successfuly wrap clSparse for C#? I'm just trying to but I'm constantly getting SEHExceptions for  some functions (e.g. clsparseSdense2csr), while others work ok (e.g. clsparseSnrm2).

My feeling is that my C# definition of some of the APIs structs differ in padding/alignment from their c counterparts. Perhaps anyone can tell me what is the size of clsparseCsrMatrix and cldenseMatrix st

[2017-02-03 17:16] kknox commented on #203
I have never attempted to create a wrapper for clsparse, so I am interested in your experiences.  I don't know the size of the structs offhand, but you can find their [definitions here](https://github.com/clMathLibraries/clSPARSE/blob/master/src/include/clSPARSE-1x.h#L60)

[2017-02-03 19:00] TillAlex commented on #203
More and more functions are working now, but still some are crashing. One problem about wrapping c structs is that you have to know their exact layout. I can't see it from their definitions... It would be very helpful to know the result of sizeof for these structs to know if they are tightly packed or not. If their size does not match the sum of their components wrapping is a bit more complicated.

[2017-02-06 11:36] TillAlex opened #204 "Wrong system size checks?"
When starting a solver the following parameter check is done

[`if( ( pA->num_cols != pB->num_values ) || ( pA->num_rows != pX->num_values ) )
    {
        return clsparseInvalidSystemSize;
    }`](https://github.com/clMathLibraries/clSPARSE/blob/master/src/library/solvers/conjugate-gradients.hpp#L59)

(Same in [bi-conjugate solver](https://github.com/clMathLibraries/clSPARSE/blob/master/src/libr

[2017-02-07 06:32] kknox commented on #203
I think the layout of structs are dependent on the compiler used to compile the library.  I don't think i can give you a definitive answer.  What you can try to do is to compile the [sample-spmv sample](https://github.com/clMathLibraries/clSPARSE/blob/master/samples/sample-spmv.cpp) and put in a few sizeof() operators to get the answer for your compiler.  These structs are meant to be POD types.

[2017-02-07 06:32] kknox commented on #204
Can you link to the library code and the sample code you reference above?

[2017-02-07 07:00] TillAlex commented on #204
You can find the links in the first post now.

[2017-02-07 07:37] TillAlex commented on #203
It seems that struct sizes are not the problem. At least all functions not using Coo matrices work now... I'll see if I can find the reason...

One more thing:
I'm using clBLAS, clFFT and clSparse from C# and created wrappers for those three. The clFFT part covers almost the complete API, while the clBLAS and clSparse only cover the basic initialization, teardown and some of the math functions. I

[2017-02-07 13:35] TillAlex commented on #204
Attached you find a patch fixing the solvers for non square matrices:

[SystemSizePatch.zip](https://github.com/clMathLibraries/clSPARSE/files/757751/SystemSizePatch.zip)

[2017-02-07 17:10] kknox commented on #204
You may not be familiar with github, but do you know how to submit code [through a PR](https://help.github.com/articles/about-pull-requests/)?  If not, i'll try to get this patch merged manually sometime this week.

[2017-02-08 10:19] clSharp opened #206 "clsparseScoo2csr crashes for small matrix sizes"
It seems that in reduce-by-key.hpp kernels are started with local sizes > global size if matrix sizes are smaller than:

[SizeType kernel_WgSize = WAVESIZE * KERNELWAVES;](https://github.com/clMathLibraries/clSPARSE/blob/master/src/library/transform/reduce-by-key.hpp#L58)

I don't know how the kernels work so I'm not sure if it would be enough to limit local sizes to always be smaller than global

[2017-02-08 11:03] TillAlex opened #207 "Documentation does not make clear when output matrices are allocated by the library and when they have to be supplied by the user"
Some of the methods calculating sparse matrices are allocating their outputs internally (e.g. clsparseScsrSpGemm) which makes sense, because it is not known in advance how many non-zero entries there will be.

Other methods need the user to allocate the output buffers ( e.g. Sdense2Csr). In this case the user has to know in advance how many non-zero entries there will be. However, internally Sdens

[2017-02-08 11:07] TillAlex commented on #203
I found that the crashes I was experiencing were coming from the library itself and were not connected to the wrapper itself. Therefor, I will close this issue now.

If anybody is interested in the .NET wrapper the code can be found here:
https://github.com/clSharp/clMathLibraries-dotnet

[2017-02-08 11:07] #203 closed, assigned to nobody

[2017-02-13 18:01] #204 closed, assigned to nobody

[2017-04-28 19:03] UsherWang opened #208 "Probable bug in clsparseScsrmm() with cldenseMatrix"
Hi there,

I was testing clsparse on Nvidia gtx 690 because I want to rewrite my cuda code into opencl for it support much more platforms. While I was testing clsparseScsrmm(), the sparse-dense matrix multiply routine, I found that no matter what major the dense matrix is set(cldenseMatrix mat; mat.major = rowMajor; or mat.major = columnMajor; ), clsparseScsrmm() always reads and writes data in ro

[2017-04-28 20:13] tingxingdong commented on #208
I agree. The column major is widely used and the in-fact standard. rowMajor is not.
column major should be supported in the first place.

[2017-06-13 22:07] aaamourao commented on #193
@dagamayank did you find out a workaround?

[2017-06-14 00:04] kknox commented on #193
clSparse uses a 'super-build' build framework, so you need to `cd clSPARSE-package` and run `make install` using the makefile generated for the library.  The root level makefile has no install target

[2017-06-14 00:04] #193 closed

[2018-02-13 18:45] DLChopp opened #209 "Not building on OS X High Sierra"
Downloaded clSPARSE and did cmake followed by make.  cmake seemed to work fine, but make gives errors when building transform/clsparse-bench.dir/src/main.cpp.o complaining of an undeclared identifier 'cudaErrorHardwareStackError'.  There are more of these types of errors shown below.  Since I'm on a Mac Pro with AMD cards, don't think cuda is an option.  Is there a build option that I missed?  Is

[2018-04-24 08:05] zhouhuanxiang commented on #208
Same problem.
The reason is that the `csrmm()` function in `clsparse-csrmm.hpp` simply discards memory layout infomation. And it seems that authors won't fix the problem. **Disappointed!**

[2018-05-25 08:52] MathiasMagnus commented on #140
Given how this feature request is 2,5 years old, I take it this feature will not be implemented. I was looking for a sparse linear system solver, specifically a tri-diagonal solver. There is an analysis software I'm porting from CUDA to OpenCL and it's using cusparseZgtsv and I currently lack the assets to implement:

1. Complex support for matrices and vectors alike.
2. Understand the trickery im

[2018-05-29 00:18] bragadeesh commented on #140
All the clMathLibraries projects are in inactive state, with different projects in it getting very occasional bug fix work and some maintenance operation at varying frequencies. I don't have info on if these projects will become active again.

We have plans for producing new libraries for supporting sparse solvers on rocm platform, along the lines of other libraries like rocFFT and rocBLAS. They w

[2018-05-30 08:00] MathiasMagnus commented on #140
Thanks @bragadeesh for the clarification. It is rare to get definite "negative" statement upon request. Will rocFFT and rocBLAS be OpenCL based or HCC based? (Meaning, will it be cross-vendor or not?)

I only ask, cause should I be thinking about also implementing a wrapper atop cuFFT and rocFFT? NVIDIA having (finally) upstreamed 1.2 implementation, it kinda sucks that clFFT et al become inactive

[2019-02-08 15:15] Tongdongq opened #211 "Segfault when reading 0-based matrix"
When reading a 0-based matrix, my copy of clSPARSE segfaults.
I traced the reason to clsparseSCsrMatrixfromFile() -> MMReadFormat() -> MMGenerateCOOFromFile() -> FillCoordData(), where each coordinate reduced by one. When removing this subtraction, the program does not segfault.
The actual segfault occurs in clsparseSCsrMatrixfromFile(), during conversion of COO to CSR. One of the coordinates in t

[2019-04-16 04:59] bibrakc opened #212 "source-provider.cpp: No such file or directory"
I am getting this error while building clSPARSE. Any ideas what is going wrong?

[code]

my cmake output:

[code]

Also providing the following if its useful?

[ 72%] Performing configure step for 'clSPARSE'
-- clSPARSE_VERSION= 0.10.2.0
-- CMAKE_BUILD_TYPE= Release
-- 64bit build - FIND_LIBRARY_USE_LIB64_PATHS TRUE
-- UNICODE disabled on linux
-- Detected GNU compiler collection
-- CMAKE_CXX_COMP

[2019-04-16 05:20] bibrakc commented on #212
Strange: Somehow it created a new directory with a "\\" and place the cpp file there

/home/bchandio/work/PhD/Sem\ SP19/clSPARSE/build/clSPARSE-build/include/kernels

so now I have the original "Sem SP19" and a new directory "Sem\ SP19" and its searching the former so its not finding the file. Not sure how to fix it though... other than doing the build from a location with no space in directory na

[2019-04-16 07:23] bibrakc opened #213 "How to transpose?"
Is there anyway to do a transpose of a matrix generated using: clsparseSCsrMatrixfromFile

Is there any API call to achieve the transpose?

[2020-01-27 13:28] mehdiBabamehdi opened #214 "Can not link shared library"
I tried to installed clSPARSE library on Ubuntu 14.04, and I did the following steps
[code]

and in dir build/library `libclSPARSE.so` was generated and I added the address to `$LD_LIBRARY_PATH`, but when I compile a code in which I include `clSPARSE.h` I got the error 'clSPARSE.h' can not be found Since it was installed locally I can not use `ldconfig -p | grep 'libclSPARSE'` to check if it is in

[2020-01-27 17:31] tingxingdong commented on #214
This is not a clSparse question. This is a Linux programming question. Copy clSPARSE.h from github and past to /usr/include

[2020-01-30 10:20] mehdiBabamehdi opened #215 "Segmentation fault when create cl_mem in sample_spmv"
I tried to use sparse matrix vector multiplication with the library and I modifeid the sample_spmv.cc as follows:
[code]
when I run the code, when ate the point where `A.values` in created, I got `segmentation fault`. I can not figure it out why. when I used `gdb` to debug the code, I got the following error
[code]

[2020-02-02 09:13] mehdiBabamehdi opened #216 "CSR matrix format stores in a file"
I want to use `sample-spmv.cpp` benchmark and in the code, sparse matrix should be read from a file, which is mentioned that it should be "CSR fromat" but there is not anything what it means, i.e. how data stores in a file which is CSR fromat. I know that CSR format store non-zero elements of a matrix A and two auxiliary  matrix which in first column number of each non-zero element, and the second

[2020-12-10 07:14] xiedeacc opened #218 "compile error"
gcc 9.3
/home/tiger/src/software/clSPARSE/src/library/io/mm-reader.cpp:123:16: error: invalid conversion from ‘char*’ to ‘char’ [-fpermissive]
  123 |         return Typecode;
      |                ^~~~~~~~
      |                |
      |                char*
/home/tiger/src/software/clSPARSE/src/library/io/mm-reader.cpp:123:16: error: cannot bind rvalue ‘(char)((char*)(&((MatrixMarketReader<Flo

[2020-12-21 07:33] #218 closed, assigned to nobody

[2021-02-01 14:28] skn123 opened #219 "Example Interface with Eigen SparseMatrix"
Can we have a small example that lists the method of interfacing an Eigen sparse matrix object with a clSparseCSRMatrix ? The closest I could find was an interface with uBlas dense to clSparse matrix.

[2022-05-18 03:12] GasonC opened #220 "Build fail at mm-reader.cpp"
Hi, I am ready to try clSPARSE an Ubuntu 20.04, and I installed AMD ROCm,
then do

And I get some error message,
then I do

set PATH

then do

but I can't build still.

It shows message below

I googled but no result, so I come here.
Thanks.